<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><block name="title">页面标题</block></title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">
</head>

<body>
	<!-- 菜单栏 -->
	<include file="Public/menu" />
	<!-- 标题栏 -->
	<include file="Public/header" />
	<!-- 页面内容 -->
	<block name="main" >待继承</block>
	

</body>
</html>
