<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>工单管理</title>

    <!-- Bootstrap CSS -->
    <link href="__PUBLIC__/bootstrap3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/bootstrap3.3.7/css/bootstrap.min.css.map" rel="stylesheet">

    <!-- 自定义CSS -->
    <link href="__PUBLIC__/css/index.css" rel="stylesheet">

</head>

<body style="min-width:1300px;margin-left:auto;margin-right:auto;min-height:350px;">
<!--登录判断-->
<if condition="!isset($_SESSION['admininfo'])">
    <script>
        window.location.href="{:U('Login/index')}";
    </script>
</if>

<!--菜单栏-->
<div class="menu" style="float:left;min-height:116%;overflow:hidden">
    <div class="menu-item"
         style="height:80px;float:left;background:#E34747;border-right-color:#E34747;border-top-color:#E34747;width:100%">
        <img src="__PUBLIC__/pic/logo.png" style="float:left;margin-left:10%;margin-top:8%;height:48px;width:80%;"/>
    </div>
    <if condition="in_array(1,$prid)">
        <div class="menu-item" style="float:left;">
        <div style="margin-left:auto;margin-right:auto;height:100%;width:110px">
            <img src="__PUBLIC__/pic/terminal_gray.png" style="float:left; margin-top:18px;width:15px;"/>
            <a href="{:U('Terminal/index')}"><h5 style="color:#959595;float:left;margin-left:10px;margin-top:16px;font-size:16px">终端管理</h5></a>
            </div>
        </div>
        <else/>
    </if>
    <if condition="in_array(2,$prid)">
        <div class="menu-item" style="float:left;">
        <div style="margin-left:auto;margin-right:auto;height:100%;width:110px">
            <img src="__PUBLIC__/pic/finance_gray.png" style="float:left; margin-top:18px;width:15px;"/>
            <a href="{:U('Financial/index')}"><h5 style="color:#959595;float:left;margin-left:10px;margin-top:16px;font-size:16px">财务管理</h5></a>
            </div>
        </div>
        <else/>
    </if>
    <if condition="in_array(3,$prid)">
        <div class="menu-item" style="float:left;background:#1C1A1A;">
        <div style="margin-left:auto;margin-right:auto;height:100%;width:110px">
            <img src="__PUBLIC__/pic/market_red.png" style="float:left; margin-top:18px;width:15px;"/>
            <a href="{:U('Operate/index')}"><h5 style="color:#E34648;float:left;margin-left:10px;margin-top:16px;font-size:16px">经营管理</h5></a>
            </div>
        </div>
        <else/>
    </if>
    <if condition="in_array(4,$prid)">
        <div class="menu-item" style="float:left;">
        <div style="margin-left:auto;margin-right:auto;height:100%;width:110px">
            <img src="__PUBLIC__/pic/operation_gray.png" style="float:left; margin-top:18px;width:15px;"/>
            <a href="{:U('Maintenance/index')}"><h5 style="color:#959595;float:left;margin-left:10px;margin-top:16px;font-size:16px">运维管理</h5></a>
            </div>
        </div>
        <else/>
    </if>
    <if condition="in_array(5,$prid)">
        <div class="menu-item" style="float:left;">
        <div style="margin-left:auto;margin-right:auto;height:100%;width:110px">
            <img src="__PUBLIC__/pic/system_gray.png" style="float:left; margin-top:18px;width:15px;"/>
            <a href="{:U('Management/mindex')}"><h5 style="color:#959595;float:left;margin-left:10px;margin-top:16px;font-size:16px">系统管理</h5></a>
            </div>
        </div>
        <else/>
    </if>
</div>
<!-- 标题栏 -->
<include file="Public/header" />

<!-- jQuery -->
<script src="__PUBLIC__/bootstrap3.3.7/js/jquery.min.js"></script>
<script src="__PUBLIC__/bootstrap3.3.7/js/bootstrap.min.js"></script>

<!-- 自定义JS -->
<script src="__PUBLIC__/js/my.js"></script>

<!-- 日期插件 -->
<script src="__PUBLIC__/laydate/laydate.js"></script>
<block name="main">
    <!--状态栏-->
    <div class="msysnav" style="float:left">
        <div class="msysnav-left" >
            <div class="msysnavlnav" id="workorder_redirect" style="cursor:pointer;border:2px solid #E34747">
                <div style="text-align:left;font-weight: bold;margin-top:10px;margin-left: 15px;">工单管理</div>
                <div style="text-align: center">待处理&nbsp;&nbsp;<div style="color:#008CF2;font-size:32px;display: inline-block;">{$count['workorder']}</div>&nbsp;&nbsp;(笔)</div>
            </div>
            <div class="msysnavlnav" id="cost_redirect" style="cursor:pointer">
                <div style="text-align:left;font-weight: bold;margin-top:10px;margin-left: 15px;">成本管理</div>
                <div style="text-align: center">已录入&nbsp;&nbsp;<div style="color:#FB393B;font-size:32px;display: inline-block;">{$count['costorder']}</div>&nbsp;&nbsp;(次)</div>
            </div>
            <div  class="msysnavlnav" id="price_redirect" style="cursor:pointer">
                <div style="text-align:left;font-weight: bold;margin-top:10px;margin-left: 15px;">价格管理</div>
                <div style="text-align: center">已调价&nbsp;&nbsp;<div style="color:#EFDC2B;font-size:32px;display: inline-block;">{$count['priceorder']}</div>&nbsp;&nbsp;(次)</div>
            </div>
            <div class="msysnavlnav" id="invoice_redirect" style="cursor:pointer">
                <div style="text-align:left;font-weight: bold;margin-top:10px;margin-left: 15px;">发票管理</div>
                <div style="text-align: center">待开票&nbsp;&nbsp;<div style="color:#00AB46;font-size:32px;display: inline-block;">{$count['invoiceorder']}</div>&nbsp;&nbsp;(份)</div>
            </div>
        </div>
        <div class="msysnav-right" style="float:left;margin-left:1.8%;">
            <div style="float:left;font-size:15px;color:white;padding-top:10px;padding-left:33%;">充电站</div>
            <div><img src="__PUBLIC__/pic/arrow.png" style="padding-top:13px;width:20px;padding-left:9px;" /></div>
        </div>
    </div>
    <div class="content" style="float:left;">
        <!--搜索框-->
        <form id="subsearch" method="get" action="{:U('Operate/index')}">
            <div style="height:40px;margin-top:10px;">
                <div style="float:left;font-size:16px;color:#e34747;padding-top:14px;padding-left:40px;">查询：</font></div>
                <div style="float:left;padding-top:10px;padding-left:20px;height:40px">
                    <input type='text' id="search" name="search" style="width:150px;height:100%;border:1px solid #CCC8C3" value="{:empty($_GET['search'])?'':$_GET['search'];}" placeholder="请输入用户电话" />
                </div>
                <div style="float:left;font-size:16px;color:#e34747;padding-top:14px;padding-left:20px;"></font></div>
                <div style="float:left;padding-top:10px;padding-left:20px;height:40px">
                    <input type='text' id="time_start" name="time_start" style="width:150px;height:100%;border:1px solid #CCC8C3" value="{:empty($_GET['time_start'])?'':$_GET['time_start'];}" placeholder="请输入开始日期" />
                </div>
                <div style="float:left;font-size:16px;color:#e34747;padding-top:14px;padding-left:20px;"></font></div>
                <div style="float:left;padding-top:10px;padding-left:20px;height:40px">
                    <input type='text' id="time_end" name="time_end" style="width:150px;height:100%;border:1px solid #CCC8C3" value="{:empty($_GET['time_end'])?'':$_GET['time_end'];}" placeholder="请输入结束日期" />
                </div>

                <button type="submit"
                        style="float:left;width:70px;height:30px;background-color:#E34747;margin-top:8.5px;margin-left:20px;text-align:center;color:white;border:none;">
                    查询
                </button>
                <button id="excel"
                        style="float:left;width:70px;height:30px;background-color:#E34747;margin-top:8.5px;margin-left:20px;text-align:center;color:white;border:none;">
                    导出
                </button>
                <button type="button"
                        style="float:left;width:70px;height:30px;background-color:#E34747;margin-top:8.5px;margin-left:20px;text-align:center;color:white;border:none;"
                        data-toggle="modal" data-target="#Modal2">
                    添加
                </button>
            </div>
        </form>
        <!--数据表格-->
        <div id="termianltbl" style="margin-top:15px">
            <table rules="none">
                <tr style="line-height:42px;height:50px">
                    <th>序号</th>
                    <th>流水号</th>
                    <th>用户电话</th>
                    <th>用户称呼</th>
                    <th>问题类型</th>
                    <th>订单日期</th>
                    <th>操作员</th>
                    <th>状态</th>
                </tr>
                <volist name="lists" id="vo">
                    <tr style="height:50px">
                        <td>{$vo['id']}</td>
                        <td>{$vo['order_number']}</td>
                        <td>{$vo['phone']}</td>
                        <td>{$vo['customer']}</td>
                        <td>
                            <switch name="vo.type" >
                                <case value="1">APP异常</case>
                                <case value="2">电桩异常</case>
                                <case value="3">刷卡异常</case>
                                <case value="4">其他问题</case>
                            </switch>
                        </td>
                        <td>{:date('Y-m-d H:i:s',$vo['addtime'])}</td>
                        <td>{$vo['operator']}</td>
                        <td>
                            <switch name="vo.status" >
                                <case value="1">待处理</case>
                                <case value="2">已解决</case>
                            </switch>
                            &nbsp;
                            <img src="__PUBLIC__/pic/examine.png" data-toggle="modal" data-target="#Modal1" data-describe="{$vo['describe']}" data-customer="{$vo['customer']}" data-phone="{$vo['phone']}" data-type="{$vo['type']}" data-feedback="{$vo['feedback']}"  data-addtime="{:date('Y-m-d H:i:s',$vo['addtime'])}" data-backtime="{:date('Y-m-d H:i:s',$vo['backtime'])}" style="width:16px;cursor: pointer;" />
                        </td>
                    </tr>
                </volist>
            </table>
            <if condition="empty($lists)">
                <div style="text-align:center;margin-top:50px;">抱歉，暂时没有您要找的内容</div>
            </if>
        </div>
        <!-- 分页内容 -->
        <div style="margin-left:45%;margin-top:20px"><h4>{$show}</h4></div>
        <!--  <div class="viciao">{$show}<span class="disabled"> <  Prev</span><a href="#?page=2">Next  > </a></div>-->
    </div>

</block>
</body>

<!-- Modal1 -->
<div class="modal" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="min-width:600px !important;">
    <div class="modal-dialog" role="document" style="min-width:600px !important;">
        <div class="modal-content" style="border-radius:0px;min-width:598px !important;">
            <div class="modal-body">
                <h2 style="color:#E34747;text-align: center">工单详情</h2>
                <div style="margin:20px 50px 10px 50px; ">
                    <span style="font-weight:600;float:left">用户称呼:&nbsp;&nbsp;&nbsp;</span><input type="text" name="" class="_customer" style="border:2px solid #E8E7E4;width:29%;float:left" />
                    <span style="font-weight:600;float:left;margin-left:7px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;用户电话:&nbsp;</span>&nbsp;&nbsp;<input type="text" class="_phone" name="" style="border:2px solid #E8E7E4;width:29%;" />
                    <div style="clear:both"></div>
                </div>
                <div style="margin:20px 50px 0px 50px">
                    <span style="font-weight:600;float:left">问题分类:&nbsp;&nbsp;&nbsp;</span>
                    <div class="_type1 typeall" style="border:2px solid #E8E7E4;width:23%;height:26px;display: inline-block;text-align: center;color:#96928D;">APP异常</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="_type2 typeall" style="border:2px solid #E8E7E4;width:23%;height:26px;display:inline-block;text-align: center;color:#96928D;">电桩异常</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="_type3 typeall" style="border:2px solid #E8E7E4;width:23%;height:26px;display:inline-block;text-align: center;color:#96928D;">刷卡异常</div>
                </div>
                <div style="margin:0px 50px">
                    <div style="width:69px;height:26px;display: inline-block;text-align: center"></div>
                    <div class="_type4 typeall" style="border:2px solid #E8E7E4;width:23%;height:26px;display: inline-block;text-align: center;color:#96928D;">其他问题</div>
                </div>
                <div style="margin:30px 50px 0px 50px ">
                    <span style="font-weight:600;float:left">问题描述:&nbsp;&nbsp;&nbsp;</span>
                    <textarea class="_textarea1" style="resize: none;border:2px solid #E8E7E4;width:371px;height:100px;">
                    </textarea>
                    <div style="text-align: right;padding-right:26px;" class="_addtime"></div>
                </div>
                <div style="margin:20px 50px 0px 50px " class="_feedback">
                    <span style="font-weight:600;float:left">问题反馈:&nbsp;&nbsp;&nbsp;</span>
                    <textarea class="_textarea2" style="resize: none;border:2px solid #E8E7E4;width:371px;height:100px;">
                    </textarea>
                    <div style="text-align: right;padding-right:26px;" class="_backtime"></div>
                </div>
                <div style="margin:20px 50px 0px 50px;">
                    <div style="border-top:2px solid #E8E7E4;"></div>
                    <h4 style="text-align: center;font-weight:bold;cursor:pointer;font-size:20px" data-dismiss="modal">
                        关闭</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal2 -->
<div class="modal" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="min-width:600px !important;">
    <div class="modal-dialog" role="document" style="min-width:600px !important;">
        <div class="modal-content" style="border-radius:0px;min-width:598px !important;">
            <div class="modal-body">
                <form action="{:U('Operate/work_add')}" method="post" id="form_add">
                    <h2 style="color:#E34747;text-align: center">添加工单</h2>
                <div style="margin:20px 50px 10px 50px; ">
                    <span style="font-weight:600;float:left">用户称呼:&nbsp;&nbsp;&nbsp;</span><input type="text" value="" name="customer"  style="border:2px solid #E8E7E4;width:29%;float:left" />
                    <span style="font-weight:600;float:left;margin-left:7px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;用户电话:&nbsp;</span>&nbsp;&nbsp;<input type="text" value="" name="phone" style="border:2px solid #E8E7E4;width:29%;" />
                    <div style="clear:both"></div>
                </div>
                <div style="margin:20px 50px 0px 50px">
                    <span style="font-weight:600;float:left">问题分类:&nbsp;&nbsp;&nbsp;</span>
                    <div data_="1" class="submit_type" style="cursor:pointer;border:2px solid #E8E7E4;width:23%;height:26px;display: inline-block;text-align: center;color:#96928D;">APP异常</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div data_="2" class="submit_type" style="cursor:pointer;border:2px solid #E8E7E4;width:23%;height:26px;display:inline-block;text-align: center;color:#96928D;">电桩异常</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div data_="3" class="submit_type" style="cursor:pointer;border:2px solid #E8E7E4;width:23%;height:26px;display:inline-block;text-align: center;color:#96928D;">刷卡异常</div>
                </div>
                <div style="margin:0px 50px">
                    <div style="width:69px;height:26px;display: inline-block;text-align: center"></div>
                    <div data_="4" class="submit_type" style="cursor:pointer;border:2px solid #E8E7E4;width:23%;height:26px;display: inline-block;text-align: center;color:#96928D;">其他问题</div>
                </div>
                <div style="margin:30px 50px 0px 50px ">
                    <span style="font-weight:600;float:left">问题描述:&nbsp;&nbsp;&nbsp;</span>
                    <textarea id="describe" name="describe" style="resize: none;border:2px solid #E8E7E4;width:371px;height:100px;"></textarea>
                    <div style="text-align: center;color:#E34747;margin-top:20px;display:none" id="notice_">
                        请填或选择写完整内容!
                    </div>
                </div>
                <div style="margin:20px 50px 0px 50px;">
                    <div style="border-top:2px solid #E8E7E4;"></div>
                    <span id="submit_span"
                          style="text-align: center;font-weight:bold;cursor:pointer;font-size:19px;display:inline-block;width:48%">提交</span>
                    <span style="font-size:30px;color:#E8E7E4">|</span>
                    <span style="text-align: center;font-weight:bold;cursor:pointer;font-size:19px;display:inline-block;width:48%"
                          data-dismiss="modal">取消</span>
                </div>
                <div style="display: none;">
                    <input name="type" type="radio" value="1" />
                    <input name="type" type="radio" value="2" />
                    <input name="type" type="radio" value="3" />
                    <input name="type" type="radio" value="4" />
                    <input name="operator" type="text" value="{$_SESSION['admininfo']['uname']}" />
                    <input name="mid" type="text" value="{$_SESSION['admininfo']['identity']}" />
                    <input name="operator_level" type="text" value="{$_SESSION['admininfo']['tableid']}" />
                </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script>
    laydate({
        elem: '#time_start', //目标元素。由于laydate.js封装了一个轻量级的选择器引擎，因此elem还允许你传入class、tag但必须按照这种方式 '#id .class'
        event: 'focus' //响应事件。如果没有传入event，则按照默认的click
    });
    laydate({
        elem: '#time_end', //目标元素。由于laydate.js封装了一个轻量级的选择器引擎，因此elem还允许你传入class、tag但必须按照这种方式 '#id .class'
        event: 'focus' //响应事件。如果没有传入event，则按照默认的click
    });

    $(function(){
        $('#excel').click(function(){
            var mid={$_SESSION['admininfo']['identity']};
            var search_=$('#search').val();
            var start_=$('#time_start').val();
            var end_=$('#time_end').val();
            window.open("{:U('Operate/work_excel')}?search="+search_+"&start="+start_+"&end="+end_+"&mid="+mid);

        });

        $('#submit_span').click(function(){
            var customer=$("input[name='customer']").val();
            var phone=$("input[name='phone']").val();
            var describe=$("#describe").val();
            var type=$('input[name="type"]:checked').val();

            if($.trim(customer)=='' || $.trim(phone)=='' || $.trim(describe)=='' || !type ){
                $('#notice_').css({'display':'block'});
                return false;
            }


            $('#form_add').submit();
        });

        $('.submit_type').click(function(){
            $('.submit_type').css({'border':'2px solid #E8E7E4','color':'#96928D'});
            $(this).css({'border': '2px solid #E34747', 'color': '#E34747'});
            var value=$(this).attr('data_');
            $("input[name='type']").eq(value-1).attr('checked','true');
        });

        //点击跳转
        $('#workorder_redirect').click(function(){
            location.href="{:U('Operate/index')}";
        });

        $('#cost_redirect').click(function(){
            location.href="{:U('Operate/cost')}";
        });

        $('#price_redirect').click(function(){
            location.href="{:U('Operate/price')}";
        });

        $('#invoice_redirect').click(function(){
            location.href="{:U('Operate/invoice')}";
        });

    });

    //弹出框传递参数
    $('#Modal1').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var describe = button.data('describe'); // Extract info from data-* attributes
        var customer = button.data('customer');
        var phone = button.data('phone');
        var type = button.data('type');
        var feedback = button.data('feedback');
        var addtime = button.data('addtime');
        var backtime = button.data('backtime');
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this);
        modal.find('._textarea1').val(describe);
        modal.find('._customer').val(customer);
        modal.find('._phone').val(phone);
        modal.find('._addtime').text(addtime);
        if(feedback==''){
            modal.find('._feedback').css({'display':'none'});
        }else{
            modal.find('._feedback').css({'display':'block'});
            modal.find('._textarea2').val(feedback);
            modal.find('._backtime').text(backtime);
        }

        switch(type)
        {
            case 1:
                modal.find('.typeall').css({'border':'2px solid #E8E7E4','color':'#96928D'});
                modal.find('._type1').css({'border': '2px solid #E34747', 'color': '#E34747'});
                break;
            case 2:
                modal.find('.typeall').css({'border':'2px solid #E8E7E4','color':'#96928D'});
                modal.find('._type2').css({'border': '2px solid #E34747', 'color': '#E34747'});
                break;
            case 3:
                modal.find('.typeall').css({'border':'2px solid #E8E7E4','color':'#96928D'});
                modal.find('._type3').css({'border': '2px solid #E34747', 'color': '#E34747'});
                break;
            case 4:
                modal.find('.typeall').css({'border':'2px solid #E8E7E4','color':'#96928D'});
                modal.find('._type4').css({'border': '2px solid #E34747', 'color': '#E34747'});
                break;
        }

    })

</script>
</html>

