<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>价格管理</title>

    <!-- Bootstrap CSS -->
    <link href="__PUBLIC__/bootstrap3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/bootstrap3.3.7/css/bootstrap.min.css.map" rel="stylesheet">

    <!-- 自定义CSS -->
    <link href="__PUBLIC__/css/index.css" rel="stylesheet">

</head>

<body style="min-width:1300px;margin-left:auto;margin-right:auto;min-height:350px;">
<!--登录判断-->
<if condition="!isset($_SESSION['admininfo'])">
    <script>
        window.location.href="{:U('Login/index')}";
    </script>
</if>

<!--菜单栏-->
<div class="menu" style="float:left;min-height:116%;overflow:hidden">
    <div class="menu-item" style="height:80px;float:left;background:#E34747;border-right-color:red;border-top-color:red;width:100%">
        <img src="__PUBLIC__/pic/logo.png" style="float:left;margin-left:10%;margin-top:8%;height:48px;width:80%;"/>
    </div>
    <if condition="in_array(1,$prid)">
        <div class="menu-item" style="float:left;">
        <div style="margin-left:auto;margin-right:auto;height:100%;width:110px">
            <img src="__PUBLIC__/pic/terminal_gray.png" style="float:left; margin-top:18px;width:15px;"/>
            <a href="{:U('Terminal/index')}"><h5 style="color:#959595;float:left;margin-left:10px;margin-top:16px;font-size:16px">终端管理</h5></a>
            </div>
        </div>
        <else/>
    </if>
    <if condition="in_array(2,$prid)">
        <div class="menu-item" style="float:left;">
        <div style="margin-left:auto;margin-right:auto;height:100%;width:110px">
            <img src="__PUBLIC__/pic/finance_gray.png" style="float:left; margin-top:18px;width:15px;"/>
            <a href="{:U('Financial/index')}"><h5 style="color:#959595;float:left;margin-left:10px;margin-top:16px;font-size:16px">财务管理</h5></a>
            </div>
        </div>
        <else/>
    </if>
    <if condition="in_array(3,$prid)">
        <div class="menu-item" style="float:left;background:#1C1A1A;">
        <div style="margin-left:auto;margin-right:auto;height:100%;width:110px">
            <img src="__PUBLIC__/pic/market_red.png" style="float:left; margin-top:18px;width:15px;"/>
            <a href="{:U('Operate/index')}"><h5 style="color:#E34648;float:left;margin-left:10px;margin-top:16px;font-size:16px">经营管理</h5></a>
            </div>
        </div>
        <else/>
    </if>
    <if condition="in_array(4,$prid)">
        <div class="menu-item" style="float:left;">
        <div style="margin-left:auto;margin-right:auto;height:100%;width:110px">
            <img src="__PUBLIC__/pic/operation_gray.png" style="float:left; margin-top:18px;width:15px;"/>
            <a href="{:U('Maintenance/index')}"><h5 style="color:#959595;float:left;margin-left:10px;margin-top:16px;font-size:16px">运维管理</h5></a>
            </div>
        </div>
        <else/>
    </if>
    <if condition="in_array(5,$prid)">
        <div class="menu-item" style="float:left;">
        <div style="margin-left:auto;margin-right:auto;height:100%;width:110px">
            <img src="__PUBLIC__/pic/system_gray.png" style="float:left; margin-top:18px;width:15px;"/>
            <a href="{:U('Management/mindex')}"><h5 style="color:#959595;float:left;margin-left:10px;margin-top:16px;font-size:16px">系统管理</h5></a>
            </div>
        </div>
        <else/>
    </if>
</div>
<!-- 标题栏 -->
<include file="Public/header" />

<!-- jQuery -->
<script src="__PUBLIC__/bootstrap3.3.7/js/jquery.min.js"></script>
<script src="__PUBLIC__/bootstrap3.3.7/js/bootstrap.min.js"></script>

<!-- 自定义JS -->
<script src="__PUBLIC__/js/my.js"></script>

<!-- 日期插件 -->
<script src="__PUBLIC__/laydate/laydate.js"></script>
<block name="main">
    <!--状态栏-->
    <div class="msysnav" style="float:left">
        <div class="msysnav-left" >
            <div class="msysnavlnav" id="workorder_redirect" style="cursor:pointer;">
                <div style="text-align:left;font-weight: bold;margin-top:10px;margin-left: 15px;">工单管理</div>
                <div style="text-align: center">待处理&nbsp;&nbsp;<div style="color:#008CF2;font-size:32px;display: inline-block;">{$count['workorder']}</div>&nbsp;&nbsp;(笔)</div>
            </div>
            <div class="msysnavlnav" id="cost_redirect" style="cursor:pointer;">
                <div style="text-align:left;font-weight: bold;margin-top:10px;margin-left: 15px;">成本管理</div>
                <div style="text-align: center">已录入&nbsp;&nbsp;<div style="color:#FB393B;font-size:32px;display: inline-block;">{$count['costorder']}</div>&nbsp;&nbsp;(次)</div>
            </div>
            <div  class="msysnavlnav" id="price_redirect" style="cursor:pointer;border:2px solid red">
                <div style="text-align:left;font-weight: bold;margin-top:10px;margin-left: 15px;">价格管理</div>
                <div style="text-align: center">已调价&nbsp;&nbsp;<div style="color:#EFDC2B;font-size:32px;display: inline-block;">{$count['priceorder']}</div>&nbsp;&nbsp;(次)</div>
            </div>
            <div class="msysnavlnav" id="invoice_redirect" style="cursor:pointer">
                <div style="text-align:left;font-weight: bold;margin-top:10px;margin-left: 15px;">发票管理</div>
                <div style="text-align: center">待开票&nbsp;&nbsp;<div style="color:#00AB46;font-size:32px;display: inline-block;">{$count['invoiceorder']}</div>&nbsp;&nbsp;(份)</div>
            </div>
        </div>
        <div class="msysnav-right" style="float:left;margin-left:1.8%;">
            <div style="float:left;font-size:15px;color:white;padding-top:10px;padding-left:33%;">充电站</div>
            <div><img src="__PUBLIC__/pic/arrow.png" style="padding-top:13px;width:20px;padding-left:9px;" /></div>
        </div>
    </div>
    <div class="content" style="float:left;">
        <!--搜索框-->
        <form id="subsearch" method="get" action="{:U('Operate/price')}">
            <div style="height:40px;margin-top:10px;">
                <div style="float:left;font-size:16px;color:#e34747;padding-top:14px;padding-left:40px;">
                    查询：</font></div>
                <div style="float:left;padding-top:10px;padding-left:20px;height:40px">
                    <input type='text' id="time_start" name="time_start" style="width:150px;height:100%;border:1px solid #CCC8C3" value="{:empty($_GET['time_start'])?'':$_GET['time_start'];}" placeholder="请输入开始日期" />
                </div>
                <div style="float:left;font-size:16px;color:#e34747;padding-top:14px;padding-left:20px;"></font></div>
                <div style="float:left;padding-top:10px;padding-left:20px;height:40px">
                    <input type='text' id="time_end" name="time_end" style="width:150px;height:100%;border:1px solid #CCC8C3" value="{:empty($_GET['time_end'])?'':$_GET['time_end'];}" placeholder="请输入结束日期" />
                </div>

                <button type="submit"
                        style="float:left;width:70px;height:30px;background-color:#E34747;margin-top:8.7px;margin-left:20px;text-align:center;color:white;border:none;">
                    查询
                </button>
                <button id="excel"
                        style="float:left;width:70px;height:30px;background-color:#E34747;margin-top:8.7px;margin-left:20px;text-align:center;color:white;border:none;">
                    导出
                </button>
            </div>
        </form>
        <!--数据表格-->
        <div id="termianltbl" style="margin-top:15px">
            <table rules="none">
                <tr style="line-height:42px;height:50px">
                    <th>序号</th>
                    <th>流水号</th>
                    <th>充电站名称</th>
                    <th>费用分类</th>
                    <th>原价格</th>
                    <th>新价格</th>
                    <th>订单日期</th>
                    <th>操作员</th>
                </tr>
                <volist name="lists" id="vo">
                    <tr style="height:50px">
                        <td>{$vo['id']}</td>
                        <td>{$vo['order_number']}</td>
                        <td>{$vo['station_name']}</td>
                        <td>
                            <switch name="vo.type" >
                                <case value="1">停车费</case>
                                <case value="2">服务费</case>
                                <case value="3">充电费</case>
                            </switch>
                        </td>
                        <td>{$vo['old_price']}</td>
                        <td>{$vo['new_price']}</td>
                        <td>{:date('Y-m-d H:i:s',$vo['addtime'])}</td>
                        <td>{$vo['operator']}</td>
                    </tr>
                </volist>
            </table>
            <if condition="empty($lists)">
                <div style="text-align:center;margin-top:50px;">抱歉，暂时没有您要找的内容</div>
            </if>
        </div>
        <!-- 分页内容 -->
        <div style="margin-left:45%;margin-top:20px"><h4>{$show}</h4></div>
        <!--  <div class="viciao">{$show}<span class="disabled"> <  Prev</span><a href="#?page=2">Next  > </a></div>-->
    </div>

</block>
</body>


<script>
    
    laydate({
        elem: '#time_start', //目标元素。由于laydate.js封装了一个轻量级的选择器引擎，因此elem还允许你传入class、tag但必须按照这种方式 '#id .class'
        event: 'focus' //响应事件。如果没有传入event，则按照默认的click
    });
    laydate({
        elem: '#time_end', //目标元素。由于laydate.js封装了一个轻量级的选择器引擎，因此elem还允许你传入class、tag但必须按照这种方式 '#id .class'
        event: 'focus' //响应事件。如果没有传入event，则按照默认的click
    });

    $(function(){
        $('#excel').click(function(){
            var mid={$_SESSION['admininfo']['identity']};
            var start_=$('#time_start').val();
            var end_=$('#time_end').val();
            window.open("{:U('Operate/price_excel')}?mid="+mid+"&start="+start_+"&end="+end_);

        });



        //点击跳转
        $('#workorder_redirect').click(function(){
            location.href="{:U('Operate/index')}";
        });

        $('#cost_redirect').click(function(){
            location.href="{:U('Operate/cost')}";
        });

        $('#price_redirect').click(function(){
            location.href="{:U('Operate/price')}";
        });

        $('#invoice_redirect').click(function(){
            location.href="{:U('Operate/invoice')}";
        });

    });


</script>
</html>

