<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>验证账户</title>
    <link rel="stylesheet" href="__PUBLIC__/bootstrap3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="__PUBLIC__/css/login&other.css" crossorigin="anonymous">
    <script src="__PUBLIC__/bootstrap3.3.7/js/jquery.min.js" crossorigin="anonymous"></script>
    <script src="__PUBLIC__/bootstrap3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid">
        <!--页头-->
        <div class="row web_head">
            <div class="col-md-12" id="index_head">
                <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2">
                    <img src="__PUBLIC__/pic/logo_index.png" class="img-responsive" alt="Responsive image" style="margin:0 auto">
                </div>
                <div class="col-lg-3 col-md-4" id="huanying">欢迎登陆商户管理平台</div>
            </div>
        </div>

        <!--内容-->
        <div class="row web_body" style="padding:20px 0px;">
            <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12" style="vertical-align:middle;">
                <div class="col-xs-12" style="padding:0px;" id="top_">
                    <div style="display:inline-block;width:14%;text-align: center">
                        <div class="number_"><span>1</span></div>
                        <span>确认账户</span>
                    </div>

                    <div class="line_" style="width:25%"></div>

                    <div style="display:inline-block;width:14%;text-align: center">
                        <div class="number_"><span>2</span></div>
                        <span>验证账户</span>
                    </div>

                    <div class="line_" style="width:25%"></div>

                    <div style="display:inline-block;width:14%;text-align: center">
                        <div class="number_"><span>3</span></div>
                        <span>重置密码</span>
                    </div>
                </div>
                <div class="col-xs-12" style="margin-top:50px;">
                    <form class="form-horizontal" method="post" action="{:U('Index/find_password3')}">
                        <div class="form-group" style="">
                            <label for="input1" class="col-xs-2 control-label">手机号</label>
                            <div class="col-xs-9">
                                <input type="text"  class="form-control" id="input1" disabled="disabled" placeholder="{$userinfo['uphone']}">
                                <span id="code_button">获取验证码</span>
                            </div>
                            <div class="col-xs-1"></div>
                        </div>
                        <div class="form-group" style="">
                            <label for="input2" class="col-xs-2 control-label">验证码</label>
                            <div class="col-xs-9">
                                <input type="text" name="code" class="form-control" id="input2" placeholder="请输入验证码">
                            </div>
                            <div class="col-xs-1"></div>
                        </div>
                        <div class="col-xs-12" style="text-align:center;color:red;font-size:14px;" id="message_">
                        </div>
                        <div class="col-xs-9 col-xs-offset-2" style="margin-top:20px;">
                            <input type="hidden" name="id"  value="{$userinfo['uid']}">
                            <button type="submit" id="next_page" class="btn btn-danger" style="width:100%">下一步</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--页脚-->
        <div class="row web_foot">
            <div class="col-md-12">北京市西城区黄寺大街26号德胜置业大厦1号楼2层/edogtech@163.com/010-82960288</div>
            <div class="col-md-12">电狗科技Copyright 2017.All ALL Right Reserved</div>
            <div class="col-md-12">京ICP备16062384号</div>
        </div>

    </div>
</body>
<script>

    click_status="click";
    times=60;
    function settime()
    {
        document.getElementById('code_button').innerHTML =times;
        times--;
        if(times==0){
            clearInterval(haha);
            document.getElementById('code_button').innerHTML ='获取验证码';
            document.getElementById('code_button').style.backgroundColor ='#FB393B';
            times=60;
            click_status="click";
        }

    }

    $(function(){
        $('.number_ ~ span:eq(0)').css({ "color": "#FB393B" });
        $('.number_ ~ span:eq(1)').css({ "color": "#FB393B" });
        $('.number_ ~ span:eq(2)').css({ "color": "#B8B3AD" });
        $('.number_:eq(0)').css({"background-color":"#FB393B","border-color":"#FB393B" });
        $('.number_:eq(1)').css({"background-color":"#FB393B","border-color":"#FB393B" });
        $('.number_:eq(2)').css({"background-color":"#B8B3AD","border-color":"#B8B3AD" });

        $("#code_button").click(function(){
            if(click_status=='click'){
                $(this).css({'background':'#B8B3AD'});
                $(this).text('发送中...');
                click_status="disabled";

                $.post("{:U('Index/send_text')}",{ send_phone:"{$userinfo['uphone']}" }, function(data){
                    if(data=='success'){
                        haha=setInterval('settime()',1000); //指定1秒刷新一次
                    }
                    if(data=='fail'){
                        haha=setInterval('settime()',1000); //指定1秒刷新一次
                        $('#message_').text('发送失败请稍后再试');
                    }

                });
            }
        })


    });

</script>
</html>