<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>重置密码</title>
    <link rel="stylesheet" href="__PUBLIC__/bootstrap3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="__PUBLIC__/css/login&other.css" crossorigin="anonymous">
    <script src="__PUBLIC__/bootstrap3.3.7/js/jquery.min.js" crossorigin="anonymous"></script>
    <script src="__PUBLIC__/bootstrap3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid">
        <!--页头-->
        <div class="row web_head">
            <div class="col-md-12" id="index_head">
                <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2">
                    <img src="__PUBLIC__/pic/logo_index.png" class="img-responsive" alt="Responsive image"
                         style="margin:0 auto;height:60px">
                </div>
                <div class="col-lg-3 col-md-4" id="huanying" style="font-size:24px;margin-top:30px">欢迎登陆商户管理平台</div>
            </div>
        </div>

        <!--内容-->
        <div class="row web_body" style="padding:75px 0px;margin-bottom:100px">
            <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12" style="vertical-align:middle;">
                <div class="col-xs-12" style="padding:0px;" id="top_">
                    <div style="display:inline-block;width:14%;text-align: center">
                        <div class="number_"><span>1</span></div>
                        <span>确认账户</span>
                    </div>

                    <div class="line_" style="width:25%"></div>

                    <div style="display:inline-block;width:14%;text-align: center">
                        <div class="number_"><span>2</span></div>
                        <span>验证账户</span>
                    </div>

                    <div class="line_" style="width:25%"></div>

                    <div style="display:inline-block;width:14%;text-align: center">
                        <div class="number_"><span>3</span></div>
                        <span>重置密码</span>
                    </div>
                </div>
                <div class="col-xs-12" style="margin-top:50px;">
                    <form class="form-horizontal" method="post" action="{:U('Index/modify_password')}">
                        <div class="form-group" style="margin-bottom:50px;">
                            <label for="input1" class="col-xs-2 control-label">新密码</label>
                            <div class="col-xs-9">
                                <input type="password" class="form-control" name="password" id="input1" placeholder="请输入密码">
                            </div>
                            <div class="col-xs-1"></div>
                        </div>
                        <div class="form-group" style="">
                            <label for="input2" class="col-xs-2 control-label">确认密码</label>
                            <div class="col-xs-9">
                                <input type="password" class="form-control" name="repassword" id="input2" placeholder="请输入密码">
                            </div>
                            <div class="col-xs-1"></div>
                        </div>
                        <div class="col-xs-12" style="text-align:center;color:#E34747;font-size:14px;" id="message_">

                        </div>
                        <div class="col-xs-9 col-xs-offset-2" style="margin-top:40px;">
                            <input type="hidden" name="id" value="{$id}">
                            <button type="submit" class="btn btn-danger" style="width:100%;background:#E34747">提交
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--页脚-->
        <div class="row web_foot">
            <div class="col-md-12">北京市西城区黄寺大街26号德胜置业大厦1号楼2层/service@edogtech.com/010-82960288</div>
            <div class="col-md-12">电狗科技Copyright 2017.All ALL Right Reserved</div>
            <div class="col-md-12">京ICP备16062384号</div>
        </div>

    </div>
</body>
<script>
    $(function(){
        $('.number_ ~ span:eq(0)').css({"color": "#E34747"});
        $('.number_ ~ span:eq(1)').css({"color": "#E34747"});
        $('.number_ ~ span:eq(2)').css({"color": "#E34747"});
        $('.number_:eq(0)').css({"background-color": "#E34747", "border-color": "#E34747"});
        $('.number_:eq(1)').css({"background-color": "#E34747", "border-color": "#E34747"});
        $('.number_:eq(2)').css({"background-color": "#E34747", "border-color": "#E34747"});

        $("form:first").submit( function () {
            var pwd=$("#input1").val();
            var repwd=$("#input2").val();
            if(pwd==repwd){
                return true;
            }else{
                $('#message_').text('两次输入不一致');
                return false;
            }


        } );

    });
</script>
</html>