<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="__PUBLIC__/bootstrap3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="__PUBLIC__/css/login&index.css" crossorigin="anonymous">
    <script src="__PUBLIC__/bootstrap3.3.7/js/jquery.min.js" crossorigin="anonymous"></script>
    <script src="__PUBLIC__/bootstrap3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid">
        <!--页头-->
        <div class="row web_head">
            <div class="col-md-12" id="index_head">
                <div class="col-lg-1 col-lg-offset-2 col-md-2 col-md-offset-1">电狗科技</div>
                <div class="col-lg-2 col-md-3">欢迎登陆商户管理平台</div>
            </div>
        </div>

        <!--中间-->
        <div class="row web_body">
            <div class="col-xs-8 col-xs-offset-2" id="login_box">
                dasdad
            </div>
        </div>

        <!--页脚-->
        <div class="row web_foot">
            <div class="col-md-12">北京市西城区黄寺大街26号德胜置业大厦1号楼2层/edogtech@163.com/010-82960288</div>
            <div class="col-md-12">电狗科技Copyright 2017.All ALL Right Reserved</div>
            <div class="col-md-12">京ICP备16062384号</div>
        </div>
    </div>
</body>
</html>