<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>补充信息</title>
    <link rel="stylesheet" href="__PUBLIC__/bootstrap3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="__PUBLIC__/css/login&other.css" crossorigin="anonymous">
    <script src="__PUBLIC__/bootstrap3.3.7/js/jquery.min.js" crossorigin="anonymous"></script>
    <script src="__PUBLIC__/bootstrap3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="__PUBLIC__/js/uploadPreview.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid">
        <!--页头-->
        <div class="row web_head">
            <div class="col-md-12" id="index_head">
                <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2">
                    <img src="__PUBLIC__/pic/logo_index.png" class="img-responsive" alt="Responsive image" style="margin:0 auto">
                </div>
                <div class="col-lg-3 col-md-4" id="huanying">欢迎登陆商户管理平台</div>
            </div>
        </div>

        <!--内容-->
        <div class="row web_body" style="padding:20px 0px;background-color:#E8E7E4">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12" style="vertical-align:middle;">

                <div class="col-xs-12" style="padding:0px;" id="top_">
                    <div style="display:inline-block;width:15%;text-align: center">
                        <div class="number_"><span>1</span></div>
                        <span>创建帐户</span>
                    </div>

                    <div class="line_" style="width:11%"></div>

                    <div style="display:inline-block;width:14%;text-align: center">
                        <div class="number_"><span>2</span></div>
                        <span>账户设置</span>
                    </div>

                    <div class="line_" style="width:11%"></div>

                    <div style="display:inline-block;width:14%;text-align: center">
                        <div class="number_"><span>3</span></div>
                        <span>补充信息</span>
                    </div>

                    <div class="line_" style="width:11%"></div>

                    <div style="display:inline-block;width:14%;text-align: center">
                        <div class="number_"><span>4</span></div>
                        <span>注册完成</span>
                    </div>
                </div>
                
                <div class="col-xs-12" style="background-color:#ffffff;" id="white_box">
                    <div class="col-xs-12" style="margin-top:30px;">
                        <form class="form-horizontal" enctype= "multipart/form-data"action="{:U('Index/register4')}" method="post">
                            <div class="form-group" style="margin-bottom:35px;">
                                <label for="input1" class="col-xs-2 control-label">公司名称</label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control" name="company" id="input1" placeholder="请输入公司名称">
                                </div>
                                <div class="col-xs-1"></div>
                            </div>
                            <div class="form-group" style="margin-bottom:35px;">
                                <label for="input2" class="col-xs-2 control-label">邮箱</label>
                                <div class="col-xs-9">
                                    <input type="email" class="form-control" name="email" id="input2" placeholder="请输入邮箱">
                                </div>
                                <div class="col-xs-1"></div>
                            </div>
                            <div class="form-group" style="margin-bottom:35px;">
                                <label for="input3" class="col-xs-2 control-label">营业执照号</label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control" id="input3" name="licence" maxlength="32" placeholder="请输入营业执照号">
                                </div>
                                <div class="col-xs-1"></div>
                            </div>
                            <div class="form-group" style="margin-bottom:35px;">
                                <label  class="col-xs-2 control-label">执照副本</label>
                                <div class="col-xs-9" style="">
                                        <div>
                                            <img src="__PUBLIC__/pic/upload_img.png" class="img-responsive" alt="Responsive image" id="ImgPr"  style="margin:0 auto;">
                                        </div>
                                        <input type="file" id="up" style="position:absolute;top:0;width:100%;height:130px;opacity: 0;cursor:pointer" name="pic">
                                </div>
                                <div class="col-xs-1"></div>
                            </div>
                            <div class="col-xs-9 col-xs-offset-2" style="margin-top:0px;">
                                <button type="submit" class="btn btn-danger" style="width:100%;background:red">下一步</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

        <!--页脚-->
        <div class="row web_foot">
            <div class="col-md-12">北京市西城区黄寺大街26号德胜置业大厦1号楼2层/edogtech@163.com/010-82960288</div>
            <div class="col-md-12">电狗科技Copyright 2017.All ALL Right Reserved</div>
            <div class="col-md-12">京ICP备16062384号</div>
        </div>

    </div>
</body>
<script>
    $(function(){
        $('.number_ ~ span:eq(0)').css({ "color": "#FB393B" });
        $('.number_ ~ span:eq(1)').css({ "color": "#FB393B" });
        $('.number_ ~ span:eq(2)').css({ "color": "#FB393B" });
        $('.number_ ~ span:eq(3)').css({ "color": "#B8B3AD" });
        $('.number_:eq(0)').css({"background-color":"#FB393B","border-color":"#FB393B" });
        $('.number_:eq(1)').css({"background-color":"#FB393B","border-color":"#FB393B" });
        $('.number_:eq(2)').css({"background-color":"#FB393B","border-color":"#FB393B" });
        $('.number_:eq(3)').css({"background-color":"#B8B3AD","border-color":"#B8B3AD" });
        $("#up").uploadPreview({ Img: "ImgPr", Width: 100 , Height: 100 , ImgType: ["gif", "jpeg", "jpg", "bmp", "png"], Callback: function () { }});

        $('body').mouseover(function(){
            $('#up').height($('#ImgPr').height());
        });

    });
</script>
</html>