<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>创建帐户</title>
    <link rel="stylesheet" href="__PUBLIC__/bootstrap3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="__PUBLIC__/css/login&other.css" crossorigin="anonymous">
    <script src="__PUBLIC__/bootstrap3.3.7/js/jquery.min.js" crossorigin="anonymous"></script>
    <script src="__PUBLIC__/bootstrap3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid">
        <!--页头-->
        <div class="row web_head">
            <div class="col-md-12" id="index_head">
                <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2">
                    <img src="__PUBLIC__/pic/logo_index.png" class="img-responsive" alt="Responsive image"
                         style="margin:0 auto;height:60px;">
                </div>
                <div class="col-lg-3 col-md-4" id="huanying" style="font-size:24px;margin-top:30px">欢迎注册商户管理平台</div>
            </div>
        </div>

        <!--内容-->
        <div class="row web_body" style="padding:20px 0px;background-color:#E8E7E4">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12" style="vertical-align:middle;">

                <div class="col-xs-12" style="padding:0px;" id="top_">
                    <div style="display:inline-block;width:15%;text-align: center">
                        <div class="number_"><span>1</span></div>
                        <span>创建帐户</span>
                    </div>

                    <div class="line_" style="width:11%"></div>

                    <div style="display:inline-block;width:14%;text-align: center">
                        <div class="number_"><span>2</span></div>
                        <span>账户设置</span>
                    </div>

                    <div class="line_" style="width:11%"></div>

                    <div style="display:inline-block;width:14%;text-align: center">
                        <div class="number_"><span>3</span></div>
                        <span>补充信息</span>
                    </div>

                    <div class="line_" style="width:11%"></div>

                    <div style="display:inline-block;width:14%;text-align: center">
                        <div class="number_"><span>4</span></div>
                        <span>注册完成</span>
                    </div>
                </div>
                
                <div class="col-xs-12" style="background-color:#ffffff;" id="white_box">
                    <div class="col-xs-12" style="margin-top:30px;">
                        <form class="form-horizontal"action="{:U('Index/register2')}" method="post">
                            <div class="form-group" style="">
                                <label for="input1" class="col-xs-2 control-label">手机号</label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control" id="input1" name="phone" placeholder="请输入手机号">
                                    <span id="code_button">获取验证码</span>
                                </div>
                                <div class="col-xs-1"></div>
                            </div>
                            <div class="form-group" style="margin-bottom:35px;">
                                <label for="input2" class="col-xs-2 control-label">验证码</label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control" name="phone_code" id="input2" placeholder="请输入验证码">
                                </div>
                                <div class="col-xs-1"></div>
                            </div>
                            <div class="form-group" style="">
                                <label for="input3" class="col-xs-2 control-label">图形码</label>
                                <div class="col-sm-5 col-xs-9">
                                    <input type="text" class="form-control" id="input3" name="code" placeholder="请输入图形码">
                                </div>
                                <div class="col-sm-4 col-xs-12" id="code_">
                                    <img src="{:U('Index/code')}" class="img-responsive" alt="验证码" style="height:34px;margin:0 auto" onclick="this.src='{:U('Index/code')}?='+Math.random();">
                                </div>
                            </div>
                            <div class="col-xs-12" style="text-align:center;color:#E34747;font-size:14px;"
                                 id="message_">
                                <if condition="isset($_GET['error'])">
                                    <switch name="_GET['error']" >
                                        <case value="1">验证码错误!</case>
                                        <case value="2">已经存在的手机号码!</case>
                                        <case value="3">手机验证码错误!请重新开始验证</case>
                                        <case value="4">手机验证码超时!请重新开始验证</case>
                                    </switch>
                                </if>
                            </div>
                            <div class="col-xs-9 col-xs-offset-2" style="margin-top:20px;">
                                <button type="submit" class="btn btn-danger" style="width:100%;background:#E34747">下一步
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

        <!--页脚-->
        <div class="row web_foot">
            <div class="col-md-12">北京市西城区黄寺大街26号德胜置业大厦1号楼2层/service@edogtech.com/010-82960288</div>
            <div class="col-md-12">电狗科技Copyright 2017.All ALL Right Reserved</div>
            <div class="col-md-12">京ICP备16062384号</div>
        </div>

    </div>
</body>
<script>
    click_status="click";
    times=60;
    function settime()
    {
        document.getElementById('code_button').innerHTML =times;
        times--;
        if(times==0){
            clearInterval(haha);
            document.getElementById('code_button').innerHTML ='获取验证码';
            document.getElementById('code_button').style.backgroundColor ='#FB393B';
            times=60;
            click_status="click";
        }

    }


    $(function(){
        $('.number_ ~ span:eq(0)').css({"color": "#E34747"});
        $('.number_ ~ span:eq(1)').css({ "color": "#B8B3AD" });
        $('.number_ ~ span:eq(2)').css({ "color": "#B8B3AD" });
        $('.number_ ~ span:eq(3)').css({ "color": "#B8B3AD" });
        $('.number_:eq(0)').css({"background-color": "#E34747", "border-color": "#E34747"});
        $('.number_:eq(1)').css({"background-color":"#B8B3AD","border-color":"#B8B3AD" });
        $('.number_:eq(2)').css({"background-color":"#B8B3AD","border-color":"#B8B3AD" });
        $('.number_:eq(3)').css({"background-color":"#B8B3AD","border-color":"#B8B3AD" });

        $("#code_button").click(function(){
            if(click_status=='click'){


                var phone=$('#input1').val();
                var reg = /^1\d{10}$/;
                if(!reg.test(phone)){
                    $('#message_').text('手机号码不合法');
                }else{
                    $(this).css({'background':'#B8B3AD'});
                    $(this).text('发送中...');
                    click_status="disabled";
                    $('#message_').text('');

                    $.post("{:U('Index/send_text')}",{ send_phone:phone }, function(data){
                        if(data=='success'){
                            haha=setInterval('settime()',1000); //指定1秒刷新一次
                        }
                        if(data=='fail'){
                            haha=setInterval('settime()',1000); //指定1秒刷新一次
                            $('#message_').text('发送失败请稍后再试');
                        }

                    });

                }

            }
        })



    });
</script>
</html>