
	<!--标题栏-->
	<div class="header" style="float:left;width:1160px">
		<div style=" float:left;font-size:12px; padding-left:468px;margin-top:30px;">
			<label><block name="curdate" >系统当前时间待继承</block></label>
		</div>
		<div style=" float:left;font-size:12px; margin-left:50px;margin-top:17px; ">
			<img src="__PUBLIC__/pic/user_head.png" style="width:45px;"/>
		</div>
		<div style=" float:left;font-size:12px; margin-left:20px;margin-top:30px; ">
			<label><block name="curuser" >用户名待继承</block></label>
		</div>
		<div style=" float:left;font-size:12px; margin-left:60px;margin-top:30px; ">
			<img src="__PUBLIC__/pic/help.png" style="width:13px;" />
		</div>
		<div style=" float:left;font-size:12px; margin-left:8px;margin-top:30px; ">
			<a href="javascript:void(0)">帮助</a>
		</div>
		<div style=" float:left;font-size:12px; margin-left:30px;margin-top:30px; ">
			<img src="__PUBLIC__/pic/refresh.png" style="width:13px;" />
		</div>
		<div style=" float:left;font-size:12px; margin-left:8px;margin-top:30px; ">
			<label>刷新</label>	
		</div>
		
		<div style=" float:left;font-size:12px; margin-left:30px;margin-top:30px; ">
			<img src="__PUBLIC__/pic/message.png" style="width:13px;" />
		</div>
		<div style=" float:left;font-size:12px; margin-left:8px;margin-top:30px; ">
			<label>消息</label>	
		</div>
		
		<div style=" float:left;font-size:12px; margin-left:30px;margin-top:30px; ">
			<img src="__PUBLIC__/pic/exit.png" style="width:13px;" />
		</div>
		<div style=" float:left;font-size:12px; margin-left:8px;padding-right:17px;padding-top:30px; ">
			<a href="{:U('Login/logout')}">退出</a>
		</div>
	
	</div>
