
	<!--标题栏-->
	<div class="header" style="float:left">
		<div style=" float:left;font-size:12px; padding-left:550px;margin-top:25px;"><label>系统当前时间留白</label></div>
		<div style=" float:left;font-size:12px; margin-left:50px;margin-top:10px; ">
			<img src="__PUBLIC__/pic/user_head.png" style="width:45px;"/>
		</div>
		<div style=" float:left;font-size:12px; margin-left:20px;margin-top:25px; ">
			<label>用户名留白</label>
		</div>
		<div style=" float:left;font-size:12px; margin-left:50px;margin-top:25px; ">
			<img src="__PUBLIC__/pic/help.png" style="width:13px;" />
		</div>
		<div style=" float:left;font-size:12px; margin-left:8px;margin-top:25px; ">
			<label title="系统帮助信息">帮助</label>	
		</div>
		<div style=" float:left;font-size:12px; margin-left:30px;margin-top:25px; ">
			<img src="__PUBLIC__/pic/refresh.png" style="width:13px;" />
		</div>
		<div style=" float:left;font-size:12px; margin-left:8px;margin-top:25px; ">
			<label>刷新</label>	
		</div>
		
		<div style=" float:left;font-size:12px; margin-left:30px;margin-top:25px; ">
			<img src="__PUBLIC__/pic/message.png" style="width:13px;" />
		</div>
		<div style=" float:left;font-size:12px; margin-left:8px;margin-top:25px; ">
			<label>消息</label>	
		</div>
		
		<div style=" float:left;font-size:12px; margin-left:30px;margin-top:25px; ">
			<img src="__PUBLIC__/pic/exit.png" style="width:13px;" />
		</div>
		<div style=" float:left;font-size:12px; margin-left:8px;padding-right:17px;margin-top:25px; ">
			<label>退出</label>	
		</div>
	
	</div>
