
	<!--菜单栏-->
	<div class="menu" style="float:left;">
		<div class="menu-item" style="height:80px;float:left;background:#E34747;border-right-color:red;border-top-color:red;">
			<img src="__PUBLIC__/pic/logo.png" style="float:left;margin-left:10%;margin-top:8%; width:80%;"/>
		</div>
		<div class="menu-item" style="float:left;background:#1C1A1A;">
			<img src="__PUBLIC__/pic/terminal_red.png" style="float:left; margin-left:19%;margin-top:18px;width:15px;"/>
			<a href="{:U('Terminal/index')}"><h5 style="color:#E34648;float:left;margin-left:10px;margin-top:18px;">终端管理</h5></a>
		</div>
		<div class="menu-item" style="float:left;">
			<img src="__PUBLIC__/pic/finance_gray.png" style="float:left; margin-left:19%;margin-top:18px;width:15px;"/>
			<h5 style="color:#959595;float:left;margin-left:10px;margin-top:18px;">财务管理</h5>
		</div>
		<div class="menu-item" style="float:left;">
			<img src="__PUBLIC__/pic/market_gray.png" style="float:left; margin-left:19%;margin-top:18px;width:15px;"/>
			<h5 style="color:#959595;float:left;margin-left:10px;margin-top:18px;">经营管理</h5>
		</div>
		<div class="menu-item" style="float:left;">
			<img src="__PUBLIC__/pic/operation_gray.png" style="float:left; margin-left:19%;margin-top:18px;width:15px;"/>
			<h5 style="color:#959595;float:left;margin-left:10px;margin-top:18px;">运维管理</h5>
		</div>
		<div class="menu-item" style="float:left;">
			<img src="__PUBLIC__/pic/system_gray.png" style="float:left; margin-left:19%;margin-top:18px;width:15px;"/>
			<h5 style="color:#959595;float:left;margin-left:10px;margin-top:18px;">系统管理</h5>
		</div>
	</div>
