a{ text-decoration:none;color:black;}/*去掉超链接的下划线*/
img{ border:none;}/*去掉图片加完链接之后自带的边框*/

.header{
	width:auto;
	height:80px;
	background:white;
	border:none;
	margin-left:1px;
}

.menu{
	width:12.8%;
	height:640px;
	background:#333131;

}
.menu-item{
	width:99%;
	height:50px;
	border:1px solid;
	border-top-color:#464444;
}
.status{
	
	width:1160px;
	height:40px;
	margin-top:1px;
	margin-left:1px;

}
.status-left{
	width:86%;
	height:40px;
	background:#E34747;
}
.status-right{
	width:13%;
	height:40px;
	background:#E34747;
}

.content{
	width:1160px;
	height:441px;

}

body{
	padding: 0px;
   	margin: 0px;
	background:#F3F3F3;
	font-family:"微软雅黑";
}
table{
	width:95%;
}

table,tr,td,th{
	margin-left: 15px;
	margin-top:5px;
	margin-right:25px;
	font-size:12px;
	height:34px;
	text-align:center;
	
}

table th{
	background:#E6E6E6;
	font-size:12px;
	text-align:center;

}
table tr:nth-child(odd){
	background: #FFEAEA;
}
table tr:nth-child(even){
	background: white;
}

#termianltbl{
	font-size:12px;
	width:1182px;
	
}
