a{ text-decoration:none;color:black;}/*去掉超链接的下划线*/
img{ border:none;}/*去掉图片加完链接之后自带的边框*/

.header{
	width:85%;
	height:80px;
	min-width:900px;
	background:white;
	border:none;
	margin-left:1px;
}

.menu{
	width:13%;
	height:640px;
	background:#333131;

}
.menu-item{
	width:99%;
	height:50px;
	border:1px solid;
	border-top-color:#464444;
}
.status{
	padding: 0px;
   	margin: 0px;
	width:85%;
	min-height:40px;
	margin-top:1px;

}
.status-left{
	width:86%;
	min-height:40px;
	background:#E34747;
}
.status-right{
	width:13%;
	height:40px;
	background:#E34747;
	
}
/*system management*/
.msysnav{
	padding: 0px;
   	margin: 0px;
	width:85%;
	height:120px;
	background:#f3f3f3;
	
}
.msysnav-left{
	width:85%;
	height:20px;
	
}
.msysnavlnav{
	width:23%;
	height:110px;
	background:#ffffff;
	float:left;
	margin-top:20px;
	margin-left:2%;
	}
.msysnavlnav dl{
		padding-left:0;
		text-align:center;
	}
.msysnavlnav dl	dt{
		padding:6px 12px;
		font-size: 12px;
	}
.msysnavlnav dl dd1{
	font-size:16px;
	color:red;
	line-height:30px;
}
.msysnav-right{
	width:13%;
	height:40px;
	background:#E34747;
}

.content{
	width:85%;
	height:441px;

}
/*hidden*/
html,body {
    margin:0;
    height:100%;
}
#test {
    min-width:100%;
    min-height:640px;
    background-color:#000;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    opacity:0.3;
    /*兼容IE8及以下版本浏览器*/
    filter: alpha(opacity=30);
    display:none;
}

#delbox {
    width:450px;
    height:220px;
    background-color:white;    
    margin: auto;
    position: absolute;
    z-index:3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display:none;
}
#altbox {
    width:350px;
    height:280px;
    background-color:white;    
    margin: auto;
    position: absolute;
    z-index:3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display:none;
}
#addbox {
    width:360px;
    height:300px;
    margin: auto;
    position: absolute;
    z-index:3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display:none;
}
/*列表*/
.table1{
	width:98.5%;
	margin-top:10px;
}

.table1,tr,td,th{
	margin-left: 15px;
	margin-top:5px;
	margin-right:25px;
	font-size:12px;
	height:34px;
	text-align:center;
}
.table1 th{
	background:#E6E6E6;
	font-size:12px;
	text-align:center;

}
.table1 tr:nth-child(odd){
	background: #FFEAEA;
}
.table1 tr:nth-child(even){
	background: white;
}
#mtermianltbl{
	font-size:12px;
	width:100%;
}
.table1 tr td{
	height:35px;
}

body{
	padding: 0px;
   	margin: 0px;
	min-width:1300px;
	background:#F3F3F3;
	font-family:"微软雅黑";
}
table{
	width:95%;
}

table,tr,td,th{
	margin-left: 15px;
	margin-top:5px;
	margin-right:25px;
	font-size:12px;
	height:34px;
	text-align:center;
	
}

table th{
	background:#E6E6E6;
	font-size:12px;
	text-align:center;

}
table tr:nth-child(odd){
	background: #FFEAEA;
}
table tr:nth-child(even){
	background: white;
}
table tr td{
	height:40px;
}
#termianltbl{
	font-size:12px;
	width:1182px;
	
}

/* 费用调整弹窗 */
.AdjustFee {
    width:520px;
    height:280px;
    background-color:white;    
    margin: auto;
    position: absolute;
    z-index:3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display:none;
}

.wrapper{
	display:table;
	margin:0 auto;
}
.row{
	display:table-row;
}
.cell{
	display:table-cell;
	vertical-align:middle;
}
