<div style="width:360px;height:300px;background-color:white;text-align: center">
<form id="subform" action="{:U('Management/addmanage')}" method="post">
<h3 style="color:red;padding-top:15px">添加管理员</h3>
<table id="thtml" style="font-weight:bold;width:345px">
	<tr style="background:white">
		<td width="28%">用户名：</td>
		<td style="text-align:left"><input type="text" id="uname" name="uname" size="22%">
			<span id="s1" style="color:red"></span>
		</td>
	</tr>
	<tr>
		<td width="28%">设置密码：</td>
		<td style="text-align:left"><input type="password" id="upswd" name="upswd" size="22%"><span id="s2" style="color:red"></span></td>
	</tr>
	<tr style="background:white">
		<td width="28%">确认密码：</td>
		<td style="text-align:left"><input type="password" id="upswd1" name="upswd1" size="22%"><span id="s3" style="color:red"></span></td>
	</tr>
	<tr>
		<td width="28%">权限分配：</td>
		<td size="22%" style="text-align:left">
			<input type="checkbox" name="ch[]" value="1"> 终端管理&nbsp;&nbsp;
			<input type="checkbox" name="ch[]" value="2"> 财务管理<br/>
			<input type="checkbox" name="ch[]" value="3"> 经营管理&nbsp;&nbsp;
			<input type="checkbox" name="ch[]" value="4"> 运维管理
		</td>
	</tr>
	<!--<tr>
		<td style="background:white;" colspan="2"><span id="tishi" style="color:red;font-size:14px"></span></td>
	</tr>-->
	<tr style="background:white;">
		<td style="font-size:18px;" colspan="2"><hr style="border:1px #e8e8e8 solid;width:300px"/>
			<a href="javascript:void(0)" id="subb" style="float:left;margin-right:75px;margin-left:50px">提交</a>
			<div style="width:2px;height:30px;background:#e8e8e8;float:left;"></div>
			<a href="javascript:void(0)" id="addcancel" style="float:left;margin-left:75px">取消</a></td>
	</tr>
</table>
</form>
</div>
<script type="text/javascript">
$("#subb").click(function(){
	var uname=$("#uname").val();
	var upswd=$("#upswd").val();
	var upswd1=$("#upswd1").val();
	if (uname==''||upswd==''||upswd1==''){
		if (uname==''){
			$("#s1").html('不能为空！');
			setTimeout(function(){
				$("#s1").html('');
			},3000)
		}
		if(upswd==''){
			$("#s2").html('不能为空！');
			setTimeout(function(){
				$("#s2").html('');
			},3000)
		}
		if(upswd1==''){
			$("#s3").html('不能为空！');
			setTimeout(function(){
				$("#s3").html('');
			},3000)
		}
	}else{
		if(upswd!=upswd1){
			$("#s3").html('密码不一致！');
			setTimeout(function(){
			$("#s3").html('');
		},3000)
		}else{
			$("#subform").submit();
			$("#test").css('display','none');
			$("#addbox").css('display','none');
		}
	}
    });
	/*添加management*/
		/*$("#subb").click(function(){
			var uname=$("#uname").val();
			var upswd=$("#upswd").val();
			var upswd1=$("#upswd1").val();
			var chk_value =[];
			$('input[name="ch"]:checked').each(function(){
				chk_value.push($(this).val());
			})
			var addurl='__URL__/addmanage';
			//alert(addurl)
			$.post(addurl,{uname:uname,upswd:upswd,upswd1:upswd1,chk_value:chk_value},function(msg){
				$("#thtml").html(msg[1]);
				if (msg[0]==1) {
					setTimeout(function(){
						$("#test").css('display','none');
						$("#addbox").css('display','none');
					},3000);
				}
			},'json')
		})*/
	/*add management*/
		$('#addmanage').click(function(){
			var addurl='__URL__/addform';
			$.post(addurl,function(m){
				$("#addbox").html(m);
			})
			$("#test").css('display','block');
			$("#addbox").css('display','block');
		})
		$('#addcancel').click(function(){
			$("#test").css('display','none');
			$("#addbox").css('display','none');
		})
</script>