<div style="height:300px;width:350px;text-align:center">
<form id="altsub" action="{:U('Management/altquan')}" method="post">
	<h4 style="font-weight:bold;color:red;padding-top:15px"> &nbsp;  &nbsp; 修改权限</h4>
	<table>
		<tr style="background:white;line-height:30px">
			<td  style="font-weight:bold;width:40%;font-size:16px;">权限分配：<br/><br/><br/><br/></td>
			<input type="hidden" name="uid" value="{$urr.uid}">
			<td style="text-align:left;font-size:16px">
				<foreach name="urr.privilegename" item="vo">
					<if condition="$vo.bi neq '' ">
						<input type="checkbox" name="mchoice[]" checked value="{$vo.pid}">{$vo.privilege}<br/>
						<else/>
						<input type="checkbox" name="mchoice[]" value="{$vo.pid}">{$vo.privilege}<br/>
					</if>
				</foreach>
			</td>
		</tr>
		<tr style="background:white;">
			<td style="font-size:18px;padding-top:15px;font-weight: bold" colspan="2"><hr style="border:1px #e8e8e8 solid;width:300px"/>
				<a style="margin-right:75px;float:left;margin-left:50px;" href="javascript:void(0)" id="altsubd">确定</a>
				<div style="width:2px;height:30px;background:#e8e8e8;float:left;"></div>
				<a style="margin-left:75px;float:left" href="javascript:void(0)" class="altcancel">取消</a></td>
		</tr>
	</table>
</form>
</div>
<script type="text/javascript">
	$('.altcancel').click(function(){
			$("#test").css('display','none');
			$("#altbox").css('display','none');
		})
	$('#altsubd').click(function(){
		$("#test").css('display','none');
		$("#altbox").css('display','none');
		$("#altsub").submit();
	})
</script>