<extend name="Public/base" />
<!-- 继承页面名称 -->
<block name="title">系统管理</block>
<!-- 继承系统当前时间 -->
<block name="curdate">{$curdate}</block>
<!-- 继承登录用户名 -->
<block name="curuser">{$curuser}</block>

<block name="main">
<!--状态栏-->
	<div class="msysnav" style="float:left">
		<div class="msysnav-left" >
			<div class="msysnavlnav">
                <dl>
                    <dd1>终端管理</dd1>
                    <dt>可查看充电站详情、充电桩实时状态、调整充电服务各类价格。</dt>
                </dl>
            </div>	
			<div class="msysnavlnav">
            	<dl>
                    <dd1>财务管理</dd1>
                    <dt>可查看订单记录并导出、申请账户体现及充值业务。</dt>
                </dl>
            </div>	
			<div  class="msysnavlnav">
            	<dl>
                    <dd1>经营管理</dd1>
                    <dt>可查看工单、成本、变价及发票管理内容并导出。</dt>
                </dl>
            </div>	
			<div class="msysnavlnav">
            	<dl>
                    <dd1>运维管理</dd1>
                    <dt>可查看实时点桩故障、待处理工单、及问题解决情况并导出。</dt>
                </dl>
            </div>	
		</div>
		<div class="msysnav-right" style="float:left;margin-left:1.8%;">
			<div style="float:left;font-size:13px;color:white;padding-top:10px;padding-left:15px;">充电站</div>
			<div><img src="__PUBLIC__/pic/arrow.png" style="padding-top:13px;width:20px;padding-left:9px;" /></div>
		</div>
	</div>
	
	<!--内容-->
	<div class="content" style="float:left;">
		<!--搜索框-->
		<form id="subsearch" method="get" action="{:U('Management/searchmana')}">
		<div style="height:40px;margin-top:20px;">
			<div style="float:left;font-size:13px;color:red;padding-top:14px;padding-left:40px;">查询：</font></div>
			<div style="float:left;padding-top:10px;padding-left:20px">
				<input type='text' name="msearch" style="width:220px;height:20px;" value="请输入内容"/>
			</div>
			<div style="float:left;width:30px;height:30px;background-color:red;margin-top:8px;margin-left:20px;">
				<img src="__PUBLIC__/pic/search.png" style="width:15px;padding-top:8px;padding-left:8px;cursor:pointer" id="dsearch" />
			</div>
			<botton style="float:left;width:100px;height:30px;line-height:30px;background-color:red;margin-top:8px;margin-left:20px;text-align:center;color:white;cursor:pointer" id='addmanage'>
			添加管理员
			</botton>
		</div>
		</form>
		<!--数据表格-->
		<div id="mtermianltbl">
		<div id="bbox">
			<table class='table1'>
				<tr>
					<th width="10%" style="font-size:14px">序号</th>
					<th width="25%" style="font-size:14px">用户名</th>
					<th width="40%" style="font-size:14px">权限范围</th>
					<th width="25%" style="font-size:14px">操作</th>
				</tr>

				<foreach name="arr" item="v">
					<if condition="$v.level eq 1">
						<tr>
							<td width="15%" style="font-size:14px">{$v.uid}</td>
							<td width="25%" style="font-size:14px">{$v.uname}</td>
							<td width="35%" style="font-size:14px">
									administrator
							</td>
							<td width="25%" style="font-size:14px"><button style="background:#68aae7;width:110px;color:white">申请变更</button></td>
						</tr>
						<else />
						<tr>
							<td>{$v.uid}</td>
							<td style="font-size:14px">{$v.uname}</td>
							<td style="font-size:14px">
								<foreach name="v.privilegename" item="vo">
									<!--<input type="checkbox" name="mchoice">{$vo.privilege}-->
									<if condition="$vo.bi neq '' ">
										<input type="checkbox" name="mchoice" checked disabled>{$vo.privilege}
										<else/>
										<input type="checkbox" name="mchoice" disabled>{$vo.privilege}
									</if>
								</foreach>
							</td>
							<td style="font-size:14px"><button style="background:#e34748;color:white" class='del' dd="{$v.id}" dm="{$v.uname}">删除</button> &nbsp; <button style="background:#339e4c;color:white" class="alt"  dd="{$v.id}" dm="{$v.uname}">修改</button></td>
					</if>
				</foreach>

			</table>
			<h2 style="margin-left:50%">{$page}</h2>
			</div>
		</div>
		<div id="test" style="display:none"></div>
		<div id="delbox" style="display:none">
			<div style="height:220px;width:450px;text-align:center">
				<h3 style="color:red;padding-top:15px">删除管理员</h3>
				<p style="padding-top:20px;padding-bottom:20px;font-weight:bold">你确定要删除用户名为<span id="delshow"></span>的管理员吗？</p>
				<hr style="border:1px #e8e8e8 solid;width:300px"/>
				<p  style="font-size:18px;font-weight:bold">
					<a style="float:left;margin-right:95px;margin-left:85px" href="javascript:void(0)" ma="" id="manadel">确定</a>
					<span style="width:2px;height:30px;background:#e8e8e8;float:left;"></span>
					<a style="float:left;margin-left:95px" href="javascript:void(0)" class='delcancel'>取消</a></p>
			</div>
		</div>
		<div id="altbox" style="display:none">
			
		</div>
		<div id="addbox" style="display:none">
			
		</div>
	</div>
	<script src="__PUBLIC__/js/jquery-1.8.3.min.js"></script>
	<script>
	/*搜索*/
	$("#dsearch").click(function(){
    	$("#subsearch").submit();
    });
		/*添加management*/
		/*$("#subb").click(function(){
			var uname=$("#uname").val();
			var upswd=$("#upswd").val();
			var upswd1=$("#upswd1").val();
			var chk_value =[];
			$('input[name="ch"]:checked').each(function(){
				chk_value.push($(this).val());
			})
			var addurl='__URL__/addmanage';
			//alert(addurl)
			$.post(addurl,{uname:uname,upswd:upswd,upswd1:upswd1,chk_value:chk_value},function(msg){
				$("#thtml").html(msg[1]);
				if (msg[0]==1) {
					setTimeout(function(){
						$("#test").css('display','none');
						$("#addbox").css('display','none');
					},3000);
				}
			},'json')
		})*/
	/*add management*/
		$('#addmanage').click(function(){
			var addurl='__URL__/addform';
			$.post(addurl,function(m){
				$("#addbox").html(m);
			})
			$("#test").css('display','block');
			$("#addbox").css('display','block');
		})
		$('#addcancel').click(function(){
			$("#test").css('display','none');
			$("#addbox").css('display','none');
		})
		/*del*/
		$('.del').click(function(){
			var val=$(this).attr('dd');
			var vname=$(this).attr('dm');
			$("#manadel").attr('ma',val);
			$("#delshow").html(vname);
			$("#test").css('display','block');
			$("#delbox").css('display','block');
			
		})
		/*确定删除*/
		$("#manadel").click(function(){
			var val=$(this).attr('ma');
			var delurl='__URL__/manadel';
			$.post(delurl,{vid:val},function(msg){
				$("#test").css('display','none');
				$("#delbox").css('display','none');
				$("#bbox").html(msg)
			})
		})
		$('.delcancel').click(function(){
			$("#test").css('display','none');
			$("#delbox").css('display','none');
		})
		/*alter*/
		$('.alt').click(function(){
			var val=$(this).attr('dd');
			var vname=$(this).attr('dm');
			var alturl='__URL__/altmana';
			$.post(alturl,{vid:val},function(msg){
				$("#altbox").html(msg)
			})
			$("#test").css('display','block');
			$("#altbox").css('display','block');
		})
		$('.altcancel').click(function(){
			$("#test").css('display','none');
			$("#altbox").css('display','none');
		})
	</script>
</block>