<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
	<title>系统管理</title>
	
	<!-- Bootstrap CSS -->
	<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
	
	<!-- 自定义CSS -->
	<link href="__PUBLIC__/css/index.css" rel="stylesheet">
	
</head>

<body style="min-width:1300px;margin-left:auto;margin-right:auto;min-height:600px;">
	<!--登录判断-->
	<if condition="!isset($_SESSION['admininfo'])">
		<script>
			window.location.href="{:U('Login/index')}";
		</script>
	</if>
	
	<!--菜单栏-->
	<div class="menu" style="float:left;min-height:116%;overflow:hidden">
		<div class="menu-item" style="height:80px;float:left;background:#E34747;border-right-color:red;border-top-color:red;width:100%">
			<img src="__PUBLIC__/pic/logo.png" style="float:left;margin-left:3%;margin-top:8%;height:40px;width:90%;"/>
		</div>
		<if condition="in_array(1,$prid)">
			<div class="menu-item" style="float:left;">
			<div style="margin-left:auto;margin-right:auto;height:100%;width:110px">
				<img src="__PUBLIC__/pic/terminal_gray.png" style="float:left;margin-top:18px;width:15px;"/>
				<a href="{:U('Terminal/index')}"><h5 style="color:#959595;float:left;margin-left:10px;margin-top:16px;font-size:16px">终端管理</h5></a>
				</div>
			</div>
		<else/>
		</if>
		<if condition="in_array(2,$prid)">
		<div class="menu-item" style="float:left;">
		<div style="margin-left:auto;margin-right:auto;height:100%;width:110px">
			<img src="__PUBLIC__/pic/finance_gray.png" style="float:left;margin-top:18px;width:15px;"/>
			<a href="{:U('Financial/index')}"><h5 style="color:#959595;float:left;margin-left:10px;margin-top:16px;font-size:16px">财务管理</h5></a>
			</div>
		</div>
		<else/>
		</if>
		<if condition="in_array(3,$prid)">
		<div class="menu-item" style="float:left;">
		<div style="margin-left:auto;margin-right:auto;height:100%;width:110px">
			<img src="__PUBLIC__/pic/market_gray.png" style="float:left;margin-top:18px;width:15px;"/>
			<a href="{:U('Operate/index')}"><h5 style="color:#959595;float:left;margin-left:10px;margin-top:16px;font-size:16px">经营管理</h5></a>
			</div>
		</div>
		<else/>
		</if>
		<if condition="in_array(4,$prid)">
		<div class="menu-item" style="float:left;">
		<div style="margin-left:auto;margin-right:auto;height:100%;width:110px">
			<img src="__PUBLIC__/pic/operation_gray.png" style="float:left;margin-top:18px;width:15px;"/>
			<a href="{:U('Maintenance/index')}"><h5 style="color:#959595;float:left;margin-left:10px;margin-top:16px;font-size:16px">运维管理</h5></a>
			</div>
		</div>
		<else/>
		</if>
		<if condition="in_array(5,$prid)">
		<div class="menu-item" style="float:left;background:#1C1A1A;">
		<div style="margin-left:auto;margin-right:auto;height:100%;width:110px">
			<img src="__PUBLIC__/pic/system_red.png" style="float:left;margin-top:18px;width:15px;"/>
			<a href="{:U('Management/mindex')}"><h5 style="color:#E34648;float:left;margin-left:10px;margin-top:16px;font-size:16px">系统管理</h5></a>
			</div>
		</div>
		<else/>
		</if>
	</div>
	<!-- 标题栏 -->
	<include file="Public/header" />
	
 	<!-- jQuery -->
    <script src="__PUBLIC__/js/jquery-1.8.3.min.js"></script>
     
    <!-- 自定义JS -->
    <script src="__PUBLIC__/js/my.js"></script>

<block name="main">
<!--状态栏-->
	<div class="msysnav" style="float:left">
		<div class="msysnav-left" >
			<div class="msysnavlnav">
                <dl>
                    <dd1>终端管理</dd1>
                    <dt>可查看充电站详情、充电桩实时状态、调整充电服务各类价格。</dt>
                </dl>
            </div>	
			<div class="msysnavlnav">
            	<dl>
                    <dd1>财务管理</dd1>
                    <dt>可查看订单记录并导出、申请账户提现及充值业务。</dt>
                </dl>
            </div>	
			<div  class="msysnavlnav">
            	<dl>
                    <dd1>经营管理</dd1>
                    <dt>可查看工单、成本、变价及发票管理内容并导出。</dt>
                </dl>
            </div>	
			<div class="msysnavlnav">
            	<dl>
                    <dd1>运维管理</dd1>
					<dt>可试试查看电桩故障、待处理工单、及问题解决情况并导出。</dt>
                </dl>
            </div>	
		</div>
		<div class="msysnav-right" style="float:left;margin-left:1.8%;">
			<div style="float:left;font-size:15px;color:white;padding-top:10px;padding-left:33%;">充电站</div>
			<div><img src="__PUBLIC__/pic/arrow.png" style="padding-top:13px;width:20px;padding-left:9px;" /></div>
		</div>
	</div>
	
	<!--内容-->
	<div class="content" style="float:left;">
		<!--搜索框-->
		<form id="subsearch" method="get" action="{:U('Management/searchmana')}">
		<div style="height:40px;margin-top:10px;">
			<div style="float:left;font-size:16px;color:#E34747;padding-top:14px;padding-left:40px;">查询：</font></div>
			<div style="float:left;padding-top:10px;padding-left:20px;height:38px">
				<input type='text' name="msearch" style="width:220px;height:100%;" value="{$zsearch}"/>
			</div>
			<div style="float:left;width:30px;height:30px;background-color:#e34748;margin-top:8px;margin-left:20px;">
				<img src="__PUBLIC__/pic/search.png" style="width:25px;padding-top:8px;padding-left:8px;cursor:pointer" id="dsearch" />
			</div>
			<botton style="float:left;width:100px;height:30px;line-height:30px;background-color:#e34748;margin-top:8px;margin-left:20px;text-align:center;color:white;cursor:pointer" id='addmanage'>
			添加管理员
			</botton>
		</div>
		</form>
		<!--数据表格-->
		<div id="mtermianltbl"  style="height:380px">
		<div id="bbox">
			<table class='table1'>
				<tr style="line-height:42px;height:50px">
					<th width="10%" style="font-size:15px">序号</th>
					<th width="25%" style="font-size:15px">用户名</th>
					<th width="40%" style="font-size:15px">权限范围</th>
					<th width="25%" style="font-size:15px">操作</th>
				</tr>
				<if condition="empty($umsg)">
				<else/>
					<tr style="height:50px">
						<td width="15%" style="font-size:15px">0</td>
						<td width="25%" style="font-size:15px">{$umsg.uname}</td>
						<td width="35%" style="font-size:15px">
								administrator
						</td>
						<td width="25%" style="font-size:15px">
							<!--<span style="background:#68aae7;width:110px;color:white;border-color:#68aae7;cursor:pointer;"> &nbsp; &nbsp; 申 请 变 更 &nbsp; &nbsp; </span>--></td>
					</tr>
				</if>
				<foreach name="arr" item="v" key="k">
					<if condition="$v.level eq 0">
						<tr style="height:50px">
							<td width="15%" style="font-size:15px">0</td>
							<td width="25%" style="font-size:15px">{$v.uname}</td>
							<td width="35%" style="font-size:15px">
									administrator
							</td>
							<td width="25%" style="font-size:15px">
								<!--<button style="background:#68aae7;width:110px;color:white">申请变更</button>--></td>
						</tr>
						<else />
						<tr style="height:50px">
							<td>{$k+1}</td>
							<td style="font-size:15px">{$v.uname}</td>
							<td style="font-size:15px">
								<foreach name="v.privilegename" item="vo">
									<!--<input type="checkbox" name="mchoice">{$vo.privilege}-->
									<if condition="$vo.bi neq '' ">
										<input type="checkbox" name="mchoice" checked disabled>{$vo.privilege}
										<else/>
										<input type="checkbox" name="mchoice" disabled>{$vo.privilege}
									</if>
								</foreach>
							</td>
							<td style="font-size:15px"><span style="background:#e34748;color:white;cursor:pointer;" class='del' dd="{$v.id}" dm="{$v.uname}">&nbsp; 删 除 &nbsp;</span> &nbsp; <span style="background:#339e4c;color:white;cursor:pointer;" class="alt"  dd="{$v.id}" dm="{$v.uname}">&nbsp; 修 改 &nbsp;</span></td>
					</if>
				</foreach>

			</table>
			<h4 style="margin-left:45%;margin-top:20px">{$page}</h4>
			</div>
		</div>
		<div id="test" style="display:none"></div>
		<div id="delbox" style="display:none">
			<div style="height:220px;width:450px;text-align:center">
				<h3 style="color:red;padding-top:15px">删除管理员</h3>
				<p style="padding-top:20px;padding-bottom:20px;font-weight:bold">你确定要删除用户名为<span id="delshow"></span>的管理员吗？</p>
				<hr style="border:1px #e8e8e8 solid;width:300px"/>
				<p  style="font-size:18px;font-weight:bold">
					<a style="float:left;margin-right:95px;margin-left:85px" href="javascript:void(0)" ma="" id="manadel">确定</a>
					<span style="width:2px;height:30px;background:#e8e8e8;float:left;"></span>
					<a style="float:left;margin-left:95px" href="javascript:void(0)" class='delcancel'>取消</a></p>
			</div>
		</div>
		<div id="altbox" style="display:none">
			
		</div>
		<div id="addbox" style="display:none">
			
		</div>
	</div>
	<script>
	/*搜索*/
	$("#dsearch").click(function(){
    	$("#subsearch").submit();
    });
    $("#subb").click(function(){
    	$("#subform").submit();
    });
		/*添加management*/
		/*$("#subb").click(function(){
			var uname=$("#uname").val();
			var upswd=$("#upswd").val();
			var upswd1=$("#upswd1").val();
			var chk_value =[];
			$('input[name="ch"]:checked').each(function(){
				chk_value.push($(this).val());
			})
			var addurl='__URL__/addmanage';
			//alert(addurl)
			$.post(addurl,{uname:uname,upswd:upswd,upswd1:upswd1,chk_value:chk_value},function(msg){
				$("#thtml").html(msg[1]);
				if (msg[0]==1) {
					setTimeout(function(){
						$("#test").css('display','none');
						$("#addbox").css('display','none');
					},3000);
				}
			},'json')
		})*/
	/*add management*/
		$('#addmanage').click(function(){
			var addurl='__URL__/addform';
			$.post(addurl,function(m){
				$("#addbox").html(m);
			})
			$("#test").css('display','block');
			$("#addbox").css('display','block');
		})
		$('#addcancel').click(function(){
			$("#test").css('display','none');
			$("#addbox").css('display','none');
		})
		/*del*/
		$('.del').click(function(){
			var val=$(this).attr('dd');
			var vname=$(this).attr('dm');
			$("#manadel").attr('ma',val);
			$("#delshow").html(vname);
			$("#test").css('display','block');
			$("#delbox").css('display','block');
			
		})
		/*确定删除*/
		$("#manadel").click(function(){
			var val=$(this).attr('ma');
			var delurl='__URL__/manadel';
			$.post(delurl,{vid:val},function(msg){
				$("#test").css('display','none');
				$("#delbox").css('display','none');
				$("#bbox").html(msg)
			})
		})
		$('.delcancel').click(function(){
			$("#test").css('display','none');
			$("#delbox").css('display','none');
		})
		/*alter*/
		$('.alt').click(function(){
			var val=$(this).attr('dd');
			var vname=$(this).attr('dm');
			var alturl='__URL__/altmana';
			$.post(alturl,{vid:val},function(msg){
				$("#altbox").html(msg)
			})
			$("#test").css('display','block');
			$("#altbox").css('display','block');
		})
		$('.altcancel').click(function(){
			$("#test").css('display','none');
			$("#altbox").css('display','none');
		})
	</script>
</block>
</body>
</html>