<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>终端管理</title>
	
	<!-- Bootstrap CSS -->
	<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
	
	<!-- 自定义CSS -->
	<link href="__PUBLIC__/css/index.css" rel="stylesheet">
	
</head>

<body style="min-width:1300px;margin-left:auto;margin-right:auto;min-height:350px;">
	<!--登录判断-->
	<if condition="!isset($_SESSION['admininfo'])">
		<script>
			window.location.href="{:U('Login/index')}";
		</script>
	</if>
	
	<!--菜单栏-->
	<div class="menu" style="float:left;min-height:116%;overflow:hidden">
		<div class="menu-item" style="height:80px;float:left;background:#E34747;border-right-color:red;border-top-color:red;width:100%">
			<img src="__PUBLIC__/pic/logo.png" style="float:left;margin-left:10%;margin-top:8%;height:48px;width:80%;"/>
		</div>
		<if condition="in_array(1,$prid)">
			<div class="menu-item" style="float:left;background:#1C1A1A;">
				<img src="__PUBLIC__/pic/terminal_red.png" style="float:left; margin-left:19%;margin-top:18px;width:15px;"/>
				<a href="{:U('Terminal/index')}"><h5 style="color:#E34648;float:left;margin-left:10px;margin-top:18px;">终端管理</h5></a>
			</div>
		<else/>
		</if>
		<if condition="in_array(2,$prid)">
		<div class="menu-item" style="float:left;">
			<img src="__PUBLIC__/pic/finance_gray.png" style="float:left; margin-left:19%;margin-top:18px;width:15px;"/>
			<a href="{:U('Financial/index')}"><h5 style="color:#959595;float:left;margin-left:10px;margin-top:18px;">财务管理</h5></a>
		</div>
		<else/>
		</if>
		<if condition="in_array(3,$prid)">
		<div class="menu-item" style="float:left;">
			<img src="__PUBLIC__/pic/market_gray.png" style="float:left; margin-left:19%;margin-top:18px;width:15px;"/>
			<h5 style="color:#959595;float:left;margin-left:10px;margin-top:18px;">经营管理</h5>
		</div>
		<else/>
		</if>
		<if condition="in_array(4,$prid)">
		<div class="menu-item" style="float:left;">
			<img src="__PUBLIC__/pic/operation_gray.png" style="float:left; margin-left:19%;margin-top:18px;width:15px;"/>
			<h5 style="color:#959595;float:left;margin-left:10px;margin-top:18px;">运维管理</h5>
		</div>
		<else/>
		</if>
		<if condition="in_array(5,$prid)">
		<div class="menu-item" style="float:left;">
			<img src="__PUBLIC__/pic/system_gray.png" style="float:left; margin-left:19%;margin-top:18px;width:15px;"/>
			<a href="{:U('Management/mindex')}"><h5 style="color:#959595;float:left;margin-left:10px;margin-top:18px;">系统管理</h5></a>
		</div>
		<else/>
		</if>
	</div>
	<!-- 标题栏 -->
	<include file="Public/header" />
	
 	<!-- jQuery -->
    <script src="__PUBLIC__/js/jquery-1.8.3.min.js"></script>
     
    <!-- 自定义JS -->
    <script src="__PUBLIC__/js/my.js"></script>
<block name="main">
	<!--状态栏-->
	<div class="status" style="float:left">
		<div class="status-left" style="float:left" >
			<div style="float:left;font-size:13px;color:white;padding-top:10px;margin-left:7%;">总桩数：{$pilesinfo['totalQty']}</div>	
			<div style="float:left;font-size:13px;color:white;padding-top:10px;margin-left:7%;">直流桩：{$pilesinfo['dcQty']}</div>	
			<div style="float:left;font-size:13px;color:white;padding-top:10px;margin-left:7%;">交流桩：{$pilesinfo['acQty']}</div>	
			<div style="float:left;font-size:13px;color:white;padding-top:10px;margin-left:7%;">今日充电次数：{$pilesinfo['times']}</div>	
			<div style="float:left;font-size:13px;color:white;padding-top:10px;margin-left:7%;">工作：{$pilesinfo['occupyQty']}</div>	
			<div style="float:left;font-size:13px;color:white;padding-top:10px;margin-left:7%;">空闲：{$pilesinfo['idleQty']}</div>	
			<div style="float:left;font-size:13px;color:white;padding-top:10px;margin-left:7%;">故障：{$pilesinfo['faultQty']}</div>
			
		</div>
		<div class="status-right" style="float:right;">
			<div style="float:left;font-size:15px;color:white;padding-top:10px;padding-left:33%;">充电站</div>
			<div><img src="__PUBLIC__/pic/arrow.png" style="padding-top:13px;width:20px;padding-left:9px;" /></div>
		</div>
	</div>
	
	<!--内容-->
	<div class="content" style="float:left;">
		<!-- 站信息 -->
		<div style="width:97%;margin-top:25px;margin-left:25px;height:150px;">
				<div style="float:left;width:40%;height:100%;background-color:white;">
					<!-- 图片 -->
					<div style="float:left;margin:10px 10px;width:110px;height:130px;">
						<img src="__ROOT__{$st['photo']}" style="width:150px;height:90px;"/>
					</div>
					<!-- 详细信息 -->
					<div style="float:left;margin-top:10px;margin-left:40px;width:60%;height:120px;">
						<div style="font-size:18px;width:100%;"><b>{$st['name']}</b></div>
						<div style="font-size:14px;color:#959595;max-height:30px;max-width:100%;margin-top:3px;margin-bottom:5px;">地址：{$st['address']}</div>
						<div style="font-size:10px;margin-top:23px;height:20px">
							<img src="__PUBLIC__/pic/business_hours.png" style="width:13px;margin-right:5px;" />
							营业时间：{$st['business_hours']}<br/>
							<img src="__PUBLIC__/pic/tel.png" style="width:13px;margin-right:5px;" />
							客服电话：{$st['phone']}
						</div>
					</div>
				</div>
				
				<div style="float:left;width:30%;min-height:150px;margin-left:10px;background-color:white;">
					<div style="margin:5px 5px 5px 30px;">
						<span style="display:inline-block;">今日充电次数：</span>
						<span style="display:inline-block;margin-right:20px;margin-left:5px;color:red;font-size:25px;width:30px">{$st['times_today']}</span>
						<span style="display:inline-block;font-size:12px;">（次）</span>
					</div>
					<div style="margin-left:30px;margin-top:5px;font-size:12px;">
						<span style="display:inline-block; float:left;"><img src="__PUBLIC__/pic/charge_fee.png" style="width:15px;"/></span>
						<span style="display:inline-block; float:left;margin-left:4px;">充电费：</span>
						<span style="display:inline-block; float:left;margin-right:10%;width:45%"> {$st['charging_fee']}元/度</span>
						<span id="adjustChargingFee" style="display:inline-block;"><a href="#" data-toggle="modal" data-target="#ChargingFeeModal" data-id="{$vo['id']}">调价</a></span>						
					</div>

					<div style="margin-left:30px;margin-top:5px;font-size:12px;">
						<span style="display:inline-block; float:left;"><img src="__PUBLIC__/pic/service_fee.png" style="width:15px;"/></span>
						<span style="display:inline-block; float:left;margin-left:4px;">服务费：</span>
						<span style="display:inline-block; float:left;margin-right:10%;width:45%">{$st['serving_fee']}元/度</span>
						<span id="adjustServingFee" style="display:inline-block;"><a href="#" data-toggle="modal" data-target="#ServingFeeModal" data-id="{$vo['id']}">调价</a></span>						
					</div>
					<div style="margin-left:30px;margin-top:5px;font-size:12px;">
						<span style="display:inline-block; float:left;"><img src="__PUBLIC__/pic/parking_fee.png" style="width:15px;"/></span>
						<span style="display:inline-block; float:left;margin-left:4px;">停车费：</span>
						<span style="display:inline-block; float:left;margin-right:7.5%;width:45%">{$st['parking_fee']}元/小时</span>
						<span id="adjustParkingFee" style="display:inline-block;cursor:pointer;">&nbsp;&nbsp;调价</span>
					</div>
				</div>
				
				<div style="float:left;width:26%;height:150px;margin-left:10px;background-color:white;">
					<div style="margin:5px 5px 5px 30px;">
							<span style="display:inline-block;">充电桩总数：</span>
							<span style="display:inline-block;margin-right:15px;margin-left:10px;color:red;font-size:25px;width:30px">{$st['total']}</span>
							<span style="display:inline-block;font-size:12px;">（个）</span>
					</div>
					<div style="margin-left:30px;margin-top:5px;font-size:12px;">
						<span style="display:inline-block; float:left;margin-right:4px;"><img src="__PUBLIC__/pic/dc_pile.png" style="width:15px;"/></span>
						<span style="display:inline-block; float:left;margin-right:37px;width:60px">直流桩：{$st['ac_num']}</span>
						<span style="display:inline-block; float:left;margin-right:4px;"><img src="__PUBLIC__/pic/idle_pile.png" style="width:15px;"/></span>
						<span style="width:60px">空闲桩：{$pilestatus['idle']}</span>
					</div>
					<div style="margin-left:30px;margin-top:5px;font-size:12px;">
						<span style="display:inline-block; float:left;margin-right:4px;"><img src="__PUBLIC__/pic/ac_pile.png" style="width:15px;"/></span>
						<span style="display:inline-block; float:left;margin-right:37px;width:60px">交流桩：{$st['dc_num']}</span>
						<span style="display:inline-block; float:left;margin-right:4px;"><img src="__PUBLIC__/pic/occupy_pile.png" style="width:15px;"/></span>
						<span style="width:60px">工作桩：{$pilestatus['occupy']}</span>						
					</div>
					<div style="margin-left:30px;margin-top:5px;font-size:12px;">
						<span style="display:inline-block; float:left;margin-right:4px;width:20px;"></span>
						<span style="display:inline-block; float:left;margin-right:37px;"><p style='width:76px'></p></span>
						<span style="display:inline-block; float:left;margin-right:4px;">&nbsp;<img src="__PUBLIC__/pic/fault_pile.png" style="width:15px;"/></span>
						<span style="width:62px">故障桩：{$pilestatus['fault']}</span>					
					</div>
				</div>
				<div style="clear:both"></div>
		</div><!-- 站信息结束 -->
		
		<!-- 桩信息 -->
		<div style="width:100%;margin-top:1%;margin-left:25px;background-color:;float:left;">
			<volist name="lists" id="vo">
				<div style="width:23%;height:140px;float:left;background-color:white;margin-right:10px;margin-bottom:8px;">
					<!-- 左上 -->
					<div style="height:60%;width:70%;float:left;border-right:1px solid;border-bottom:1px solid;border-color:#e8e8e8;">
						<!-- 图标  -->
						<if condition="$vo['type'] eq 0 ">
							<div style="float:left;height:100%;width:30%;padding:8px 3px;"><img src="__PUBLIC__/pic/ac_pile_60.png" width="45px"/></div>
						<else />
							<div style="float:left;height:100%;width:30%;padding:8px 3px;"><img src="__PUBLIC__/pic/dc_pile_60.png" width="45px" /></div>
						</if>
						
						 <!-- 桩号  -->
						 <div style="float:left;height:100%;width:70%;">
							<div style="font-size:12px;">
								<div style="color:red;text-align:left;padding-top:10px;">{:substr($vo['pile_no'],-1,1)}号充电桩</div>
								<div style="padding-top:10px;">
									<span>{:floor($vo['voltage'])}V</span>
									<span>{:floor($vo['current'])}A</span>
									<span>{:floor($vo['capacity'])}kwh</span>
								</div>
							</div>
						</div>
					</div>
					<!-- 右上 -->
					<div class="wrapper" style="height:60%;width:30%;float:left;float:left;border-left:1px solid;border-bottom:1px solid;border-color:#e8e8e8;">
						<if condition="$vo['status'] eq 0 ">
							<div class="cell" style="height:60%;text-align:center;"><img src="__PUBLIC__/pic/occupy_pile.png" width="25px"  /></div>
							<div class="row"></div>
							<div class="cell" style="height:40%;font-size:12px;text-align:center;">工作</div>
						<elseif condition="$vo['status'] eq 1 "/>
							<div class="cell" style="height:60%;text-align:center;"><img src="__PUBLIC__/pic/idle_pile.png" width="22px"/></div>
							<div class="row"></div>
							<div class="cell" style="height:40%;font-size:12px;text-align:center;">空闲</div>
						<else />
							<div class="cell" style="height:60%;text-align:center;"><img src="__PUBLIC__/pic/fault_pile.png" width="25px" /></div>
							<div class="row"></div>
							<div class="cell" style="height:40%;font-size:12px;text-align:center;">故障</div>
						</if>
					</div>
					<!-- 左下 -->
					<div class="wrapper" style="height:40%;width:70%;float:left;font-size:11px;text-align:center;border-right:1px solid;border-top:1px solid;border-color:#e8e8e8;">
						<div class="cell"><img src="__PUBLIC__/pic/cur_duration.png" width="15px"  />{:floor($vo['cur_duration'])}min</div>
						<div class="cell"><img src="__PUBLIC__/pic/cur_electricity.png" width="15px"  />{:floor($vo['cur_electricity'])}kw/h</div>
						<div class="cell"><img src="__PUBLIC__/pic/cur_price.png" width="15px"  />{:floor($vo['cur_price'])}rmb</div>
					</div>
					<!-- 右下 -->
					<div class="wrapper" style="height:40%;width:30%;float:left;font-size:12px;text-align:center;border-left:1px solid;border-top:1px solid;border-color:#e8e8e8;">
						<div class="DivControlPile" value={$vo['pile_no']} style="display:table-cell;vertical-align:middle;cursor:pointer;">启/停</div>
					</div>
				</div>
				<!-- <if condition="$count">
					<div style="clear:both;">
				</if> -->
				
			</volist>
			<if condition="empty($lists)">
				<div style="text-align:center;margin-top:50px;">抱歉，暂时没有您要找的内容</div>
			</if>
		</div> <!-- 桩信息结束 -->
		
		 <!-- 分页 -->
		<div style="text-align:center;">{$show}</div>
		
		<!-- 弹窗 遮罩 -->
		<div id="test" style="display:none"></div>
		<!-- 弹窗 调整停车费 -->
		<div id="ParkingFee" class="AdjustFee" style="display:none;">
			<div style="margin:10px 30px;">
			<form id="frmParkingFee" method="post" action="{:U('Terminal/adjustFee')}">
				<div style="color:red;font-size:22px;margin-top:20px;text-align:center;">停车费调价</div>
				<div style="margin-top:15px;">
					<span style="display:inline-block;margin-left: 85px">开始时间</span><span style="display:inline-block;margin-left:60px;">结束时间</span><span style="display:inline-block;margin-left:65px">停车费</span>
				</div>
				<div style="text-align:center;margin-top:15px;">
					<label>时段1：</label>
					<input style="display:inline;width:20%;height:20px;" type="text" id="txtParking11" name="txtParking11">&nbsp;—
					<input style="display:inline;width:20%;height:20px;" type="text" id="txtParking12" name="txtParking12">
					<input style="display:inline;width:20%;height:20px;margin-left:20px;"type="text" id="txtParking13" name="txtParking13">&nbsp;元/小时
				</div>
				<div style="text-align:center;margin-top:15px;">
					<label>时段2：</label>
					<input style="display:inline;width:20%;height:20px;" type="text" id="txtParking21" name="txtParking21">&nbsp;—
					<input style="display:inline;width:20%;height:20px;" type="text" id="txtParking22" name="txtParking22">
					<input style="display:inline;width:20%;height:20px;margin-left:20px;"type="text" id="txtParking23" name="txtParking23">&nbsp;元/小时
				</div>
				<div style="text-align:center;margin-top:15px;">
					<label>时段3：</label>
					<input style="display:inline;width:20%;height:20px;" type="text" id="txtParking31" name="txtParking31">&nbsp;—
					<input style="display:inline;width:20%;height:20px;" type="text" id="txtParking32" name="txtParking32">
					<input style="display:inline;width:20%;height:20px;margin-left:20px;"type="text" id="txtParking33" name="txtParking33">&nbsp;元/小时
				</div>
				<input type="hidden" name="stationID" value="{$st['id']}" />
				<input type="hidden" name="flag" value="parking" />
				
				<div style=" margin-top:18px;border-top:2px solid;border-color:#e8e8e8;"></div>
				<div style=" margin-top:5px;text-align:center;font-size:22px;">
					<div id="dlgParkingOK" style="width:50%;float:left;cursor:pointer;border-right:1px solid;border-color:#e8e8e8;">确定</div>
					<div name="dlgCancel" style="width:50%;float:right;cursor:pointer;">取消</div>
				</div>
			</form>
			</div>
		</div>
		
		<!-- 弹窗 调整服务费 -->
		<div id="ServingFee" class="AdjustFee" style="display:none;">
			<div style="margin:10px 30px;">
			<form id="frmServingFee" method="post" action="{:U('Terminal/adjustFee')}">
				<div style="color:red;font-size:22px;margin-top:20px;text-align:center;">服务费调价</div>
				<div style="margin-top:15px;">
					<span style="display:inline-block;margin-left: 85px">开始时间</span><span style="display:inline-block;margin-left:60px;">结束时间</span><span style="display:inline-block;margin-left:65px">服务费</span>
				</div>
				<div style="text-align:center;margin-top:15px;">
					<label>时段1：</label>
					<input style="display:inline;width:20%;height:20px;" type="text" id="txtServing11" name="txtServing11">&nbsp;—
					<input style="display:inline;width:20%;height:20px;" type="text" id="txtServing12" name="txtServing12">
					<input style="display:inline;width:20%;height:20px;margin-left:20px;"type="text" id="txtServing13" name="txtServing13">&nbsp;元/小时
				</div>
				<div style="text-align:center;margin-top:15px;">
					<label>时段2：</label>
					<input style="display:inline;width:20%;height:20px;" type="text" id="txtServing21" name="txtServing21">&nbsp;—
					<input style="display:inline;width:20%;height:20px;" type="text" id="txtServing22" name="txtServing22">
					<input style="display:inline;width:20%;height:20px;margin-left:20px;"type="text" id="txtServing23" name="txtServing23">&nbsp;元/小时
				</div>
				<div style="text-align:center;margin-top:15px;">
					<label>时段3：</label>
					<input style="display:inline;width:20%;height:20px;" type="text" id="txtServing31" name="txtServing31">&nbsp;—
					<input style="display:inline;width:20%;height:20px;" type="text" id="txtServing32" name="txtServing32">
					<input style="display:inline;width:20%;height:20px;margin-left:20px;"type="text" id="txtServing33" name="txtServing33">&nbsp;元/小时
				</div>
				<input type="hidden" name="stationID" value="{$st['id']}" />
				<input type="hidden" name="flag" value="serving" />
				
				<div style=" margin-top:18px;border-top:2px solid;border-color:#e8e8e8;"></div>
				<div style=" margin-top:5px;text-align:center;font-size:22px;">
					<div id="dlgServingOK" style="width:50%;float:left;cursor:pointer;border-right:1px solid;border-color:#e8e8e8;">确定</div>
					<div name="dlgCancel" style="width:50%;float:right;cursor:pointer;">取消</div>
				</div>
			</form>
			</div>
		</div>
		
		<!-- 弹窗 调整充电费 -->
		<div id="ChargingFee" class="AdjustFee" style="display:none;">
			<div style="margin:10px 30px;">
			<form id="frmChargingFee" method="post" action="{:U('Terminal/adjustFee')}">
				<div style="color:red;font-size:22px;margin-top:20px;text-align:center;">充电费调价</div>
				<div style="margin-top:15px;">
					<span style="display:inline-block;margin-left: 85px">开始时间</span><span style="display:inline-block;margin-left:60px;">结束时间</span><span style="display:inline-block;margin-left:65px">充电费</span>
				</div>
				<div style="text-align:center;margin-top:15px;">
					<label>时段1：</label>
					<input class="chkReg" style="display:inline;width:20%;height:20px;" type="text" id="txtCharging11" name="txtCharging11">&nbsp;—
					<input class="chkReg" style="display:inline;width:20%;height:20px;" type="text" id="txtCharging12" name="txtCharging12">
					<input class="chkNaN" style="display:inline;width:20%;height:20px;margin-left:20px;"type="text" id="txtCharging13" name="txtCharging13">&nbsp;元/小时
				</div>
				<div style="text-align:center;margin-top:15px;">
					<label>时段2：</label>
					<input class="chkReg" style="display:inline;width:20%;height:20px;" type="text" id="txtCharging21" name="txtCharging21">&nbsp;—
					<input class="chkReg" style="display:inline;width:20%;height:20px;" type="text" id="txtCharging22" name="txtCharging22">
					<input class="chkNaN" style="display:inline;width:20%;height:20px;margin-left:20px;"type="text" id="txtCharging23" name="txtCharging23">&nbsp;元/小时
				</div>
				<div style="text-align:center;margin-top:15px;">
					<label>时段3：</label>
					<input class="chkReg" style="display:inline;width:20%;height:20px;" type="text" id="txtCharging31" name="txtCharging31">&nbsp;—
					<input class="chkReg" style="display:inline;width:20%;height:20px;" type="text" id="txtCharging32" name="txtCharging32">
					<input class="chkNaN" style="display:inline;width:20%;height:20px;margin-left:20px;"type="text" id="txtCharging33" name="txtCharging33">&nbsp;元/小时
				</div>
				<input type="hidden" name="stationID" value="{$st['id']}" />
				<input type="hidden" name="flag" value="charging" />
				
				<div style=" margin-top:18px;border-top:2px solid;border-color:#e8e8e8;"></div>
				<div style=" margin-top:5px;text-align:center;font-size:22px;">
					<div id="dlgChargingOK" style="width:50%;float:left;cursor:pointer;border-right:1px solid;border-color:#e8e8e8;">确定</div>
					<div name="dlgCancel" style="width:50%;float:right;cursor:pointer;">取消</div>
				</div>
			</form>
			</div>
		</div>
		
		<!-- 弹窗 电桩控制 -->
		<div id="PopControlPile" class="ControlPile" style="display:none;">
			<div style="margin:10px 30px;">
			<form id="frmPileControl" method="get" action="{:U('Terminal/controlAction')}">
				<div style="color:#e34747;font-size:22px;margin-top:20px;text-align:center;">电桩操作</div>
				<div style="margin-top:40px;">
					<div style="text-align:center;margin-top:5%;">
						<span id="sp1" class="spanPileCtlSel" action="open">开启充电</span>
						<span style="display:inline-block;width:5%;"></span>
						<span id="sp2" class="spanPileCtl" action="close">结束充电</span>
					</div>
					<div style="text-align:center;margin-top:5%;">
						<span id="sp3" class="spanPileCtl" action="reset">重启电桩</span>
						<span style="display:inline-block;width:5%;"></span>
						<span id="sp4" class="spanPileCtl" action="lock">暂停服务</span>
					</div>
				</div>
				<!-- 进度消息栏 -->
				<!-- <div id="divProgress" style="text-align:center;margin-top:19px;color:#37a9ea;"><span class="dotting"></span></div> -->
				<div id="divProgress" style="text-align:center;margin-top:19px;color:#37a9ea;"></div>
				
				<!-- 分隔条 -->
				<div style=" margin-top:12px;border-top:2px solid;border-color:#e6e6e6;"></div>
				<div name="dlgCancel" style=" position:absolute;left:235px;width:50px;margin-top:5px;text-align:center;font-size:20px;cursor:pointer;">关闭</div>
				
				<input type="hidden" id="userID" name="userID" value="{$st['user_id']}" />
				<input type="hidden" id="pileID" name="pileID" value="" />
			</form>
			</div>
		</div>		
		
	</div><!-- 内容结束 -->
	
</block>
</body>
</html>
