<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>终端管理</title>
	
	<!-- Bootstrap CSS -->
	<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
	
	<!-- 自定义CSS -->
	<link href="__PUBLIC__/css/index.css" rel="stylesheet">
	
</head>

<body style="min-width:1300px;margin-left:auto;margin-right:auto;min-height:350px;">
	<!--登录判断-->
	<if condition="!isset($_SESSION['admininfo'])">
		<script>
			window.location.href="{:U('Login/index')}";
		</script>
	</if>
	
	<!--菜单栏-->
	<div class="menu" style="float:left;min-height:116%;overflow:hidden">
		<div class="menu-item" style="height:80px;float:left;background:#E34747;border-right-color:red;border-top-color:red;width:100%">
			<img src="__PUBLIC__/pic/logo.png" style="float:left;margin-left:10%;margin-top:8%;height:48px;width:80%;"/>
		</div>
		<if condition="in_array(1,$prid)">
			<div class="menu-item" style="float:left;background:#1C1A1A;">
				<img src="__PUBLIC__/pic/terminal_red.png" style="float:left; margin-left:19%;margin-top:18px;width:15px;"/>
				<a href="{:U('Terminal/index')}"><h5 style="color:#E34648;float:left;margin-left:10px;margin-top:18px;">终端管理</h5></a>
			</div>
		<else/>
		</if>
		<if condition="in_array(2,$prid)">
		<div class="menu-item" style="float:left;">
			<img src="__PUBLIC__/pic/finance_gray.png" style="float:left; margin-left:19%;margin-top:18px;width:15px;"/>
			<a href="{:U('Financial/index')}"><h5 style="color:#959595;float:left;margin-left:10px;margin-top:18px;">财务管理</h5></a>
		</div>
		<else/>
		</if>
		<if condition="in_array(3,$prid)">
		<div class="menu-item" style="float:left;">
			<img src="__PUBLIC__/pic/market_gray.png" style="float:left; margin-left:19%;margin-top:18px;width:15px;"/>
			<a href="#"><h5 style="color:#959595;float:left;margin-left:10px;margin-top:18px;">经营管理</h5></a>
		</div>
		<else/>
		</if>
		<if condition="in_array(4,$prid)">
		<div class="menu-item" style="float:left;">
			<img src="__PUBLIC__/pic/operation_gray.png" style="float:left; margin-left:19%;margin-top:18px;width:15px;"/>
			<a href="#"><h5 style="color:#959595;float:left;margin-left:10px;margin-top:18px;">运维管理</h5></a>
		</div>
		<else/>
		</if>
		<if condition="in_array(5,$prid)">
		<div class="menu-item" style="float:left;">
			<img src="__PUBLIC__/pic/system_gray.png" style="float:left; margin-left:19%;margin-top:18px;width:15px;"/>
			<a href="{:U('Management/mindex')}"><h5 style="color:#959595;float:left;margin-left:10px;margin-top:18px;">系统管理</h5></a>
		</div>
		<else/>
		</if>
	</div>
	<!-- 标题栏 -->
	<include file="Public/header" />
	
 	<!-- jQuery -->
    <script src="__PUBLIC__/js/jquery-1.8.3.min.js"></script>
     
    <!-- 自定义JS -->
    <script src="__PUBLIC__/js/my.js"></script>
<block name="main">
<!--状态栏-->
	<div class="status" style="float:left">
		<div class="status-left" style="float:left" >
			<div style="float:left;font-size:13px;color:white;padding-top:10px;margin-left:7%;">总桩数：{$pilesinfo['totalQty']}</div>	
			<div style="float:left;font-size:13px;color:white;padding-top:10px;margin-left:7%;">直流桩：{$pilesinfo['dcQty']}</div>	
			<div style="float:left;font-size:13px;color:white;padding-top:10px;margin-left:7%;">交流桩：{$pilesinfo['acQty']}</div>	
			<div style="float:left;font-size:13px;color:white;padding-top:10px;margin-left:7%;">今日充电次数：{$pilesinfo['times']}</div>	
			<div style="float:left;font-size:13px;color:white;padding-top:10px;margin-left:7%;">工作：{$pilesinfo['occupyQty']}</div>	
			<div style="float:left;font-size:13px;color:white;padding-top:10px;margin-left:7%;">空闲：{$pilesinfo['idleQty']}</div>	
			<div style="float:left;font-size:13px;color:white;padding-top:10px;margin-left:7%;">故障：{$pilesinfo['faultQty']}</div>
			
		</div>
		<div class="status-right" style="float:right;">
			<div style="float:left;font-size:13px;color:white;padding-top:10px;padding-left:15px;">充电站</div>
			<div><img src="__PUBLIC__/pic/arrow.png" style="padding-top:13px;width:20px;padding-left:9px;" /></div>
		</div>
	</div>
	
	<!--内容-->
	<div class="content" style="float:left;">
		<!--搜索框-->
		<form id="frmStationSearch" method="post" action="{:U('Terminal/index')}">
			<div style="height:40px;margin-top:20px;">
				<div style="float:left;font-size:13px;color:#e34748;padding-top:10px;padding-left:57px;">查询：</div>
				<div style="float:left;padding-top:5px;padding-left:18px">
					<input type="text" name="txtStation" id="txtStation" style=" width:220px;height:100%;color:#C8C8C8;" value="充电站名称"/>
				</div>
				<div id="stationSearch" style="float:left;width:30px;height:30px;background-color:#e34748;margin-top:5px;margin-left:20px;cursor:pointer;">
					<img src="__PUBLIC__/pic/search.png" style="width:25px;padding-top:6px;padding-left:6px;"/>
				</div>
			</div>
		</form>
		<!--数据表格-->
		<div id="termianltbl">
			<table rules="none">
				<tr>
					<th width="10%" >序号</th>
					<th width="20%">充电站名称</th>
					<th width="10%">总电量（度）</th>
					<th width="10%">总桩数（个）</th>
					<th width="15%">今日充电次数（次）</th>
					<th width="25%">充电桩当前状态</th>
					<th width="10%">查看</th>
				</tr>
				<volist name="lists" id="vo">
				<tr>
					<td>{$vo['sequence']}</td>
					<td>{$vo['name']}</td>
					<td>{$vo['electricity_history']}</td>
					<td>{$vo['pile_total']}</td>
					<td>{$vo['times_today']}</td>
					<td style="vertical-align:middle;">
						<span style="display:inline-block;background-color:#efa627;width:10px;height:10px;"></span>
						<span style="display:inline-block;margin-right:5px;">工作：{$vo['pile_occupy']}</span>
						<span style="display:inline-block;background-color:#48bc24;width:10px;height:10px;"></span>
						<span style="display:inline-block;margin-right:5px;">空闲：{$vo['pile_idle']}</span>
						<span style="display:inline-block;background-color:#969696;width:10px;height:10px;"></span>
						<span style="display:inline-block;margin-right:5px;">故障：{$vo['pile_fault']}</span>
					</td>
					<td>
						<div><img onclick="location='{:U('Terminal/detail',array('id'=>$vo['id']))}'" src="__PUBLIC__/pic/examine.png" style="width:23px;padding-top:6px;padding-left:6px;cursor:pointer;"/></div>
					</td>
				</tr>
				</volist>			
			</table>
			<if condition="empty($lists)">
					<div style="text-align:center;margin-top:50px;">抱歉，暂时没有您要找的内容</div>
			</if>
		</div>
		<!-- 分页内容 -->
		<div style="text-align:center;"><h4>{$show}</h4></div>
		 <!--  <div class="viciao">{$show}<span class="disabled"> <  Prev</span><a href="#?page=2">Next  > </a></div>-->
	</div>
</block>
</body>
</html>

